.bought {
  .hs-main {
    .already_list {
      ul {
        li {
          .header {
            .logistics {
              .hs-cf;
              padding-bottom: 0.16rem;
              margin-bottom: 0.16rem;
              border-bottom: 1px solid rgba(211, 211, 211, .5);
              span {
                float: left;
                .font-dpr(13px);
                padding: 0.05rem 0;
                &.status {
                  float: right;
                  color: #58d996;
                }
                &.not {
                  color: #111;
                }
              }
              button {
                float: right;
                .font-dpr(13px);
                border: 1px solid #5bd69d;
                border-width: 0.02rem;
                background-color: #fff;
                padding: .06rem .26rem;
                color: #5bd69d;
                border-radius: 4px;
                margin-left: .2rem;
                margin-top: .2rem;
              }
            }
          }
          .title {
            .date {
              right: 0;
              bottom: 0 !important;
              left: auto !important;
            }
            .number {
              position: absolute;
              left: 0;
              bottom: 0;
              .font-dpr(12px);
              color: #aaa;
            }
            .price {
              color: red !important;
              bottom: 0.5rem;
              position: absolute;
              width: 100%;
              left: 0;
              .font-dpr(12px);
              .styles{
                color: #000;
                float: right;
              }
            }
          }
          .contact {
            padding: 0.2rem 0;
            .complaints {
              float: left;
              .font-dpr(13px);
              border: none;
              background-color: #fff;
              color: #5bd69d;
              margin-top: .1rem;
              position: relative;
              padding-left: 0.8rem;
              i:before {
                .font-dpr(30px);
                content: "\e61d";
                position: absolute;
                top: .1rem;
                left: 0;
                line-height: 0;
              }
            }
            .username {
              span {
                color: red;
              }
            }
            .office {
              span {
                color: #58d996;
                padding: 0.16rem 0.26rem;
                padding-right: 0;
                .font-dpr(14px);
                display: block;
                &.not {
                  color: #111;
                }
              }
            }
          }
        }
      }
    }
  }
}
