.bought {
  .hs-main {
    .already_list {
      ul {
        li {
          .header {
            .logistics {
              .hs-cf;
              padding-bottom: 0.16rem;
              margin-bottom: 0.16rem;
              border-bottom: 0.013333rem solid rgba(211, 211, 211, .5);
              span {
                float: left;
                .font-dpr(13px);
                padding-top: 0.14rem;

              }
              button {
                float: right;
                .font-dpr(13px);
                border: 1px solid #5bd69d;
                background-color: #fff;
                padding: .06rem .26rem;
                color: #5bd69d;
                border-radius: 4px;
                margin-left: .2rem;
              }
            }
          }
          .title {
            .date {
              right: 0;
              bottom: 0 !important;
              left: auto !important;
            }
            .number {
              position: absolute;
              left: 0;
              bottom: 0;
              .font-dpr(12px);
              color: #aaa;
            }
          }
          .contact {
            padding: 0.05rem 0;
            .username {
              span {
                color: red;
              }
            }
            .office {
              span {
                color: #58d996;
                padding: 0.16rem 0.26rem;
                .font-dpr(14px);
                display: block;
                &.not {
                  color: #111;
                }
              }
            }
          }
        }
      }
    }
  }
}
