/*退款纠纷 --未处理*/
.refund {
  background-color: #f6f6f6 !important;
  .hs-main {
    background-color: #fff;
    input:disabled {
      color: #262626;
      background-color: white;
    }
    input.money {
      color: #fe0d0d;
    }

    .already_list {
      .refund_status{
        width: 4rem;
        float: left;
        margin: .1rem 0;
        .font-dpr(14px);
        .font-line-height(18px);
        i {
          .font-dpr(18px);
          &:before {
            content: "\e622";
          }
          &.processed {
            &:before {
              content: "\e621";
            }
          }
        }
      }
    }
  }
  .examine{
    margin: 0.21rem 0.24rem 0;
    padding: 0.35rem 0.16rem;
    background-color: white;
    box-shadow: 0 0.04rem 0.04rem #d6d6d6;
    span{
      .font-dpr(14px);
      display: inline-block;
      padding: .1rem .26rem;
      border: 1px solid white;
      border-width: .02rem;
    }
    a{
      .font-dpr(13px);
      border: 1px solid #5bd69d;
      border-width: .02rem;
      background-color: #fff;
      padding: .1rem .26rem;
      color: #5bd69d;
      border-radius: 4px;
      float: right;
    }
  }
}
/*退款纠纷 --已处理*/