.orderform{
  .hs-page{
    background: #F5F5F5;
  }
  .listOrder{
    border-top: 0.0133rem solid #E8E8E8;
    background: #FFF;

    /*地址选择器*/
    .addr_sel_wrap{
      //padding: 0.196667rem 0 0.386667rem;
      border-bottom: 0.0133rem solid #E8E8E8;
      background: #fff;
      .font-dpr(15px);
      line-height: 0.5rem;

      .addr_sel{
        padding: 0.4rem;
      }

      .left{
        padding-top: 0.28rem;
        max-width: 29%;
      }
      .title{
        float: right;
        .font-dpr(12px);
        height: 0.5rem;
        color: #999;
        padding-top: 0.28rem;
        width: 70%;
      }

      .right{
        max-width: 70%;
        padding-top: 0.28rem;
        line-height: 0.5rem;

        i{
          word-wrap: break-word;
          word-break: break-all;
          font-style: normal;
          line-height: 0.5rem;
          display: block;

        }
      }

      .left{
        float: left;
      }
      .right{
        float: right;
      }
      .clear:after{
        content: "";
        display: block;
        clear: both;
      }
    }


    .lists{
      padding: 0 0.4rem;
      border-bottom: 0.213rem solid #F5F5F5;
      .user_info{
        padding: 0.347rem 0;
        line-height: 0.533rem;
        border-bottom: 0.0133rem solid #E8E8E8;
        .hs-cf;
        img{
          width: 0.533rem;
          height: 0.533rem;
          float: left;
          border-radius: 50%;
        }
        .user_name{
          .font-dpr(12px);
          margin-left: 0.267rem;
        }
      }
      .good_info{
        .font-dpr(13px);
        padding: 0.4rem 0;
        position: relative;
        border-bottom: 0.0133rem solid #E8E8E8;
        .hs-cf;
        div{
          float: left;
        }
        .goods_link{
          display: block;
          height: 100%;
          color: inherit;
          font-size: inherit;
          line-height: inherit;
        }
        .image{
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: 100%;
          width: 3.81rem;
          height: 1.92rem;
          border-radius: 0.16rem;
          margin-right: 0.4rem;
        }
        .good_name{
          font-size: 0.3467rem;
          overflow:hidden;
          width: 4.99rem;
            line-height: 1.2em;
            height: 2.4em;
        }
        .good_style{
          width: 4.99rem;
          .font-dpr(12px);
          color: #8E8E8E;
          height: 0.68rem;
          line-height: 0.68rem;
        }
        .good_price{
          width: 4.99rem;
          color: #AE2121;
          line-height: 1em;
        }
        .good_num{
          position: absolute;
          bottom: 0.4rem;
          right: 0;
          color: #8E8E8E;
        }
      }
      .numbers{
        .font-dpr(15px);
        padding: 0.47rem 0;
        border-bottom: 0.013rem solid rgba(153,153,153,0.3);
        .hs-cf;
        .right{
          .min,
          .add{
              width: 0.64rem;
              height: 0.64rem;
              //background-size: 100%;
              float: left;
          }
          .min{
              background-image: url(//img8.ontheroadstore.com/upload/180411/c8efa2d9c021f33c01172b860e6b2a7c.png);
              background-size: 0.45333rem 0.45333rem;
              background-repeat: no-repeat;
              background-position: center center;
          }
          .add{
              background-image: url(//img8.ontheroadstore.com/upload/180411/920ed1f36bd27733c53d554ea76d39de.png);
              background-size: 0.45333rem 0.45333rem;
              background-repeat: no-repeat;
              background-position: center center;
          }
          .countNum{
            float: left;
            width: 1.44rem;
            .font-dpr(16px);
            line-height: 0.64rem;
            text-align: center;
          }
        }
      }
      .express{
        .font-dpr(15px);
        padding: 0.47rem 0;
        border-bottom: 0.013rem solid rgba(153,153,153,0.3);
        .hs-cf;
      }
      .comment{
        .font-dpr(15px);
        padding: 0.47rem 0;
        .hs-cf;
        .right{
          width: 8rem;
        }
        input{
          width: 100%;
          border: none;
          line-height: 1em;
        }
      }
      .left{
        float: left;
      }
      .right{
        float: right;
      }
    }
  }
  .next{
    height: 1.31rem;
    background-color: #FFF;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    border-top: 0.0133rem solid #E8E8E8;
    div{
      float: right;
    }
    .payment{
    width: 2.293rem;
    height: 0.96rem;
    background: #AE2121;
    border-radius: 0.1rem;
      .font-dpr(13px);
    margin: 0.175rem 0.4rem 0 0.4rem;
    line-height: 0.96rem;
    text-align: center;
    color: #FFF;
    }
    .all_price,
    .all_postage{
      height: 1.31rem;
      line-height: 1.31rem;
      .font-dpr(12px);
    color: #8E8E8E;
    }
    .all_price{
      margin-right: 0.213rem;
      .font-dpr(14px);
      color: #000;
      span{
        color: #AE2121;
      }
    }
  }
}