.user_index {
  .hs-main {
    padding-top: 0;
    background-color: #fff;
  }
  .no_data {
    color: #a8a8a8;
    text-align: center;
    width: 10rem;
    .font-dpr(18px);
    margin-top: 1.5rem;
    transform: translateY(0);
    position: static;
  }
  .content {
    .header {
      height: 5.8933rem;
      background-image: url(//img8.ontheroadstore.com/upload/180423/07d8d580d439658add82f6753eb6a83d.png);
      background-color: #000;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      padding: 0 0.4rem;
      position: relative;
      .hs-cf;
      .avatar {
        display: block;
        margin-top: 0.5867rem;
        width: 1.867rem;
        height: 1.867rem;
        border-radius: 50%;
        border: 0.08rem solid #FFF;
      }
      .username {
        color: #FFF;
        padding-top: 0.32rem;
        .font-dpr(14px);
        line-height: 1em;
      }
      .desc{
        color: #FFF;
        .font-dpr(12px);
        line-height: 1.2em;
        max-height: 2.4em;
        overflow: hidden;
        opacity: 0.8;
        margin-top: 0.267rem;
        &.no_desc{
          height: 1.2em;
        }
      }
      .fans,
      .good_num{
        float: left;
        color: #FFF;
        margin-top: 0.2rem;
        text-align: center;
        margin-right: 0.72rem;
        .num{
          .font-dpr(18px);
        }
        .title{
          margin-top: 0.16rem;
          .font-dpr(14px);
          opacity: 0.8;
        }
      }
      .cancel_attention,
      .attention,
      .private_letter{
        color: #FFF;
        .font-dpr(13px);
        width: 1.2rem;
        height: 0.56rem;
        line-height: 0.56rem;
        border: 0.0267rem solid #FFF;
        position: absolute;
        top: 2.5337rem;
        right: 2.106rem;
        border-radius: 0.1rem;
        text-align: center;
      }
      .private_letter{
        right: 0.4rem;
        border-color: rgba(255,255,255,0.1);
        background: rgba(255,255,255,0.4);
      }
      .cancel_attention,
      .attention{
        display: none;
      }
      .cancel_attention{
        width: 1.92rem;
        border-color: rgba(255,255,255,0.1);
        background: rgba(255,255,255,0.4);
      }
    }
    .user_index_bd{
      padding: 0 0.4rem 2.106rem 0.4rem;
    }
    ul{
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      justify-content:space-between;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -moz-flex-direction: row;
      -webkit-flex-direction: row;
      flex-direction: row;
      width: 9.2rem;
      li {
        flex-basis:4.4rem;
        overflow: hidden;
        margin-top: 0.4rem;
        border-radius: 0.16rem;
        box-shadow: 0 0 0.08rem rgba(0,0,0, 0.08);
        a {
          display: block;
          color: #000;
          .image{
            width: 100%;
            height: 2.24rem;
            background-color: #F5F5F5;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
          }
          .title{
            .font-dpr(13px);
            height: 2.4em;
            line-height: 1.2em;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            margin: 0.2667rem;
          }
        }
      }
    }
  }
}

.user{
  .header {
    height: 4.4rem;
    background-image: url('//img8.ontheroadstore.com/upload/180110/a8e0ca6f97110dda7934cba1022686e3.png');
    background-color: #000;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    .bg{
      background: rgba(0,0,0,.4);
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    .avatar{
      width: 1.44rem;
      box-sizing: border-box;
      height: 1.44rem;
      border: 0.04rem solid #000;
      margin: 1.2rem auto 0.45rem;
    }
    .username{
      text-align: center;
      .font-dpr(15px);
      color: #fff;
    }
  }
  .order{
    border-top: 0.2rem solid #f5f5f5;
    border-bottom: 0.2rem solid #f5f5f5;
    padding: 0 0.2rem;
    .all_order{
      height: 1.31rem;
      padding: 0 0.33rem 0 0.13rem;
      position: relative;
      .font-dpr(15px);
      line-height: 1.31rem;
      border-bottom: 0.0133rem solid #E8E8E8;
      display: block;
      color: #000;
      &:after{
        position: absolute;
        height: 100%;
        content: "\e512";
        color: #000;
        right: 0;
      }
    }
    .orders{
      display: flex;
      justify-content: space-around;
      a{
        min-width: 1.2rem;
        display: block;
        text-align: center;
        color: #000;
        margin: 0.56rem 0;
        .font-dpr(13px);
        position: relative;
        span{
          display: block;
        }
        .hs-icon{
          .font-dpr(30px);
          margin-bottom: 0.3rem;
        }
        .payment:after{
          content: "\e62f";
        }
        .deliver:after{
          content: "\e712";
        }
        .receive:after{
          content: "\e713";
        }
        .complete:after{
          content: "\e64f";
        }
        .deliver_num,
        .receive_num{
          background: #AE2121;
          min-width: 0.5rem;
          height: 0.5rem;
          border-radius: 0.5rem;
          color: #FFF;
          .font-dpr(13px);
          text-align: center;;
          line-height: 0.5rem;
          position: absolute;
          top: -0.2rem;
          right: -0.1rem;
          padding: 0 0.15rem;
          box-sizing: border-box;
        }
      }
    }
  }
  .list{
    padding-bottom: 2.1rem;
    li{
      padding: 0 0.4rem;
      a{
        height: 1.45333rem;
        line-height: 1.45333rem;
        border-bottom: 0.0133rem solid #E8E8E8;
        .font-dpr(14px);
        color: #000;
        display: block;
        span{
          display: block;
          float: left;
          .font-dpr(29px);
          margin-right: 0.3rem;
        }
        .collect:after{
          content: "\e63f";
        }
        .address:after{
          content: "\e721";
        }
        .record:after{
          content: "\e650";
        }
        .join:after{
          content: "\e640";
        }
        .binding_tel:after{
          content: "\e64a";
        }
      }
    }
  }
}
