/* lib-flexble 手淘flexble布局方案 */
@import "../modules/components/flexible/flexible.less";

/* 通用 */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
  body {
    background-color: #333;
    -webkit-tap-highlight-color: transparent;
    .container {
      width: 10rem;
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -5rem;
      height: 100%;
      overflow: hidden;
      font-size: 12px;
    }
  }
  a {
    text-decoration: none;
  }
  a:link {
    text-decoration: none;
  }
  .hs-main {
    width: 10rem;
    position: absolute;
  }
  .content {
    height: 100%;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 10rem;
    z-index: 10;
    -webkit-overflow-scrolling: touch;
  }
}
/* 包含 */
@import "../modules/less/common.less";
@import "../modules/components/btn/style.less";

/* 头部 */
@import "../modules/components/list_header/style.less";

/* 底部 */
@import "../modules/components/list_footer/style.less";

/* 发布商品 */
/* 法律提示 */
@import "../modules/components/notice/style.less";
/* 商品发布 */
@import "../modules/components/add/style.less";

/* 文化 */
/* 文化列表 */
@import "../modules/components/culture_list/style.less";

/* 商品 */
/* 商品列表 */
@import "../modules/components/store_list/style.less";
/* 商品内容 */
@import "../modules/components/store_show/style.less";
/* 打赏对话框 */
@import "../modules/components/dialog_reward/style.less";
/* 评论框 */
@import "../modules/components/dialog_comment/style.less";
/* 私信框 */
@import "../modules/components/dialog_chat/style.less";
/* 生成订单 */
@import "../modules/components/orderform/style.less";

/* 用户 */
/* 提现 */
@import "../modules/components/user_withdraw/style.less";
/* 发货 */
/* 头部 */
@import "../modules/components/already_header/style.less";
/* 未发货 */
@import "../modules/components/already_list/style.less";
/* 填写快递 */
@import "../modules/components/deliver/style.less";
/* 发过的帖子 */
@import "../modules/components/posts/style.less";
/* 提现列表 */
@import "../modules/components/user_withdraw_list/style.less";
/* 投诉 */
@import "../modules/components/user_complaints/style.less";
/* 投诉结果 */
@import "../modules/components/user_compliant_detail_page/style.less";


/* 私信 */
/* 头部 */
@import "../modules/components/chat_header/style.less";
/* 底部 */
@import "../modules/components/chat_footer/style.less";
/* 聊天列表 */
@import "../modules/components/chat_list/style.less";
/* 私信列表 */
@import "../modules/components/chat_list_group/style.less";

/* 用户 */
/* 别人的用户中心 */
@import "../modules/components/user_index_header/style.less";
/* 我的用户中心 */
@import "../modules/components/user_index/style.less";
/* 粉丝列表 */
@import "../modules/components/fans_list/style.less";
/* 卖家动态 */
@import "../modules/components/seller_list/style.less";
/* 买过的东西 */
@import "../modules/components/bought/style.less";

/* 支付 */
/* 打赏 */
@import "../modules/components/pay_reward/style.less";
/* 未关注遮罩框 */
@import "../modules/components/checkfollow/style.less";

