/* lib-flexble 手淘flexble布局方案 */
@import "../modules/components/flexible/flexible.less";

/* 通用 */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
  body {
    background-color: #333;
    -webkit-tap-highlight-color: transparent;
    .container {
      width: 10rem;
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -5rem;
      height: 100%;
      overflow: hidden;
      font-size: 12px;
    }
  }
  /*李晓峰使用iconfont*/
  @font-face {
    font-family: 'iconfont';  /* project id 254858 */
    src: url('//at.alicdn.com/t/font_254858_oqc4bo3594quxr.eot');
    src: url('//at.alicdn.com/t/font_254858_oqc4bo3594quxr.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_254858_oqc4bo3594quxr.woff') format('woff'),
    url('//at.alicdn.com/t/font_254858_oqc4bo3594quxr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_254858_oqc4bo3594quxr.svg#iconfont') format('svg');
  }
  a {
    text-decoration: none;
  }
  a:link {
    text-decoration: none;
  }
  .hs-main {
    width: 10rem;
    position: absolute;
  }
  .content {
    height: 100%;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    width: 10rem;
    z-index: 10;
    -webkit-overflow-scrolling: touch;
  }
}
/*公用返回顶部*/
.return_top{
    position: absolute;
    z-index: 999;
    width: 1rem;
    height: 1rem;
    right: 0.4rem;
    bottom: 2.226rem;
    display: none;
    background: url(//img8.ontheroadstore.com/upload/180408/46d32616736ec04ad92f562b99972639.png);
    background-size: 100% 100%;
}
/*公用返回首页*/
.return_home_page{
    position: absolute;
    z-index: 999;
    width: 1rem;
    height: 1rem;
    right: 0.4rem;
    bottom: 2.226rem;
    border-radius: 50%;
    a{
        display: block;
        width: 100%;
        height: 100%;
        background-image: url(//img8.ontheroadstore.com/upload/180413/f99e2d909b46f09d1c0716c71fa81dc4.png);
        background-size: 100% 100%;
    }
}
/* 包含 */
@import "../modules/less/common.less";
@import "../modules/components/form/style.less";

/* 头部 */
@import "../modules/components/list_header/style.less";

/* 底部 */
@import "../modules/components/list_footer/style.less";

/* 发布商品 */
/* 法律提示 */
@import "../modules/components/notice/style.less";
/* 商品发布 */
@import "../modules/components/add/style.less";


/* 分类 */
@import "../modules/components/categories/style.less";


/* 文化 */
/* 文化列表 */
@import "../modules/components/culture_list/style.less";

/* 商品 */
/* 商品列表 */
@import "../modules/components/store_list/style.less";
/* 商品内容 */
@import "../modules/components/store_show/style.less";
/* 打赏对话框 */
@import "../modules/components/dialog_reward/style.less";
/* 评论框 */
@import "../modules/components/dialog_comment/style.less";
/* 私信框 */
@import "../modules/components/dialog_chat/style.less";
/* 生成订单 */
@import "../modules/components/orderform/style.less";



/* 用户 */
/* 投诉 */
@import "../modules/components/user_complaints/style.less";
/* 投诉结果 */
@import "../modules/components/user_compliant_detail_page/style.less";


/* 私信 */
/* 聊天列表 */
@import "../modules/components/chat_list/style.less";
/* 私信列表 */
@import "../modules/components/chat_list_group/style.less";

/* 用户 */
/* 用户中心(我的，他人) */
@import "../modules/components/user_index/style.less";
/* 我的消息 */
@import "../modules/components/user_message/style.less";
@import "../modules/components/user_comment/style.less";
/* 卖家动态 */
@import "../modules/components/seller_list/style.less";

@import "../modules/components/user_personal/style.less";

@import "../modules/components/user_people/style.less";
/*发现*/
@import "../modules/components/discovery_index/style.less";
@import "../modules/components/discovery_show/style.less";
@import "../modules/components/discovery_seller/style.less";
@import "../modules/components/discovery_classify/style.less";
/*大专题*/
@import "../modules/components/big_project/style.less";

/* 支付 */
/* 打赏 */
@import "../modules/components/pay_reward/style.less";
/* 支付成功页 */
@import "../modules/components/success/style.less";
/* 物流 */
@import "../modules/components/user_recruitment/style.less";
/*购物车*/
@import "../modules/components/user_mychart/style.less";
/*购物车*/
@import "../modules/components/login/style.less";

/*应用横栏*/
@import "../modules/components/streamer/style.less";

/*买家订单*/
@import "../modules/components/user_buyOrder/style.less";

/*评论*/
@import "../modules/components/comment/style.less";

/*点赞用户列表*/
@import "../modules/components/like_list/style.less";
/*收货地址*/
@import "../modules/components/user_address/style.less";
/*搜索模块*/
@import "../modules/components/search_list/style.less";
/*加入黑市*/
@import "../modules/components/user_join_hs/style.less";
/*我关注的*/
@import "../modules/components/user_attention/style.less";
/*浏览记录*/
@import "../modules/components/user_hisotories/style.less";

/*商家分类标签页*/
@import "../modules/components/seller_tag/style.less";
/*商家分类商品列表*/
@import "../modules/components/tag_goods/style.less";


//修复打赏弹窗关闭按钮位置错乱
.dialog_reward.ui-dialog .ui-dialog-cnt header{
    top: initial;
    bottom: -1rem;
}