<div class="dialog_reward ui-dialog">
  <div class="ui-dialog-cnt">
    <header>
      <button class="ui-dialog-close" data-role="button"><i class="hs-icon"></i></button>
    </header>
    <div class="ui-dialog-bd">
      <span class="avatar" style="background-image:url(http://placeholder.qiniudn.com/108x108)"></span>
      <div class="username">不想被吊打</div>
      <div class="title">这个打火机除了电烟 也告诉你《恶魔》之后这个打火机除了电烟 也告诉你《恶魔》之后</div>
    </div>
    <div class="ui-dialog-ft">
      <form>
        <input type="number" placeholder="随意打赏，但必须是整数～" />
        <button type="button"><i>赏</i></button>
      </form>
    </div>
  </div>
</div>
