/* 未发货 */
.already {

  .hs-main {

    .already_list {
      background-color: #f6f6f6;
      ul {
       padding: .21rem .24rem;
       width: 9.58rem;
       li {
        padding: .16rem .16rem 0 .16rem;
        border-left: 1px solid #f1f1f1;
        border-right: 1px solid #f1f1f1;
        box-shadow: 0px 5px 5px #d6d6d6;
        margin-bottom: 0.266667rem;
        background-color: #fff;
        position: relative;
        .examine_box {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #000;
          opacity: .8;
          color: #fff;
          span {
            position: absolute;
            text-align: center;
            top: 50%;
            display: block;
            width: 100%;
            .font-dpr(18px);
            margin-top: -9px;
            [data-dpr="2"] & {
              margin-top: -9 * 2px;
            }
            [data-dpr="3"] & {
              margin-top: -9 * 3px;
            }
          }
        }
        .header {
          padding-bottom: 0.16rem;
          border-bottom: 0.013333rem solid rgba(211, 211, 211, .8);
          .hs-cf();
          .image {
            width: 2rem;
            height: 2rem;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            float: left;
          }
          .title {
            width: 6.9rem;
            height: 2rem;
            float: right;
            position: relative;
            a {
              .font-dpr(14px);
              .font-line-height(16px);
              color: #000;
              overflow: hidden;
              text-overflow: ellipsis;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
            }
            .total {
              position: absolute;
              .font-dpr(15px);
              .font-line-height(15px);
              bottom: 0;
              left: 0;
              color: #FB0E0E;
            }
            .date {
              position: absolute;
              right: 0;
              bottom: .5rem;
              .font-dpr(11px);
              .font-line-height(11px);
              color: #aaa;
            }
            .number {
             position: absolute;
             right: 0;
             bottom: 0;
             .font-dpr(12px);
             .font-line-height(12px);
             color: #aaa;
           }
         }
       }
       .contact {
        .hs-cf();
        padding: 0.15rem 0;
        .username {
          width: 4rem;
          float: left;
          .font-dpr(14px);
          margin: 0.2rem 0;
          display: -webkit-box;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          -webkit-box-flex: 1;
          height: inherit;
        }
        .office {
          float:right;
          button,a {
            .font-dpr(13px);
            border:2px solid #5bd69d;
            background-color: #fff;
            padding: 0.16rem 0.26rem;
            color: #5bd69d;
            border-radius: 4px;
            margin-left: 0.2rem;
            &:first-child {
              margin-left: 0;
            }
          }

        }
      }
    }
  }
}
}
}
