.chat-header {
  width: 10rem;
  z-index: 100;
  position: absolute;
  background-color: #fff;
  .chat-header-bd {
    background-color: #fff;
    padding:0.36rem 0.373333rem;
    position: relative;
    .hs-cf();
    .title {
      .font-dpr(16px);
      float: left;
    }
    .recent_btn {
      float: right;
      background: none;
      border: none;
      padding-left: 1rem;
      padding-bottom: 0.04rem;
      &:before {
        .font-dpr(16px);
        content: "\e511";
      }
      &.active:before {
        color: #E03B29;
        content: "\e512";
      }
    }
    .recent_box {
      padding: 0.31rem 0.48rem;
      background-color: #fff;
      position: absolute;
      width: 9.04rem;
      left: 0;
      display: none;
      .hs-cf;
      .images {
        width: 1.746667rem;
        height: 1.693333rem;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        float: left;
      }
      .info {
        float: right;
        width: 7rem;
        p {
          .font-dpr(13px);
          .font-line-height(13px);
          margin-bottom: 0.24rem;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
