<div class="dialog_comment ui-dialog">
  <div class="ui-dialog-cnt">
    <div class="ui-dialog-bd">
      <textarea id="comment_input" rows="6" placeholder="随便说点什么"></textarea>
    </div>
    <div class="ui-dialog-ft">
      <div class="image">
        <button type="button" class="updata_image">icon</button>
      </div>
      <div class="btns">
        <button type="button" class="cancel">取消</button>
        <button type="button" class="submit">回复</button>
      </div>
    </div>
  </div>
</div>
</div>
