@import "../../less/common.less";

.notice {
  .hs-footer {
    .btn {
      color: #fff;
      background-color: #000;
      border:none;
      .font-dpr(16px);
      width: 100%;
      display: block;
      text-align: center;
      padding: 0.466667rem 0;
    }
  }
  .release_text {
    padding: .5rem 1.013333rem;
    li {
      padding: .5rem 0;
      .font-dpr(14px);
      color: #212121;
    }
    button {
      background-color: #000;
      color: #fff;
      border:none;
      padding: 0.28rem 0.466667rem;
      .font-dpr(14px);
    }
  }
}
