<ul>
    <li>
        <a href="index.html" class="active external">
            <span class="hs-icon home"></span>
            <span class="text">黑市</span>
        </a>
    </li>
    <li>
        <a href="culture_list.html" class="external">
            <span class="hs-icon culture"></span>
            <span class="text">文化</span>
        </a>
    </li>
    <li class="notice_btn">
        <a class="external">
            <span class="hs-icon add"></span>
            <span class="text">发布</span>
        </a>
    </li>
    <li>
        <a href="user_center.html" class="external">
            <span class="hs-icon me"></span>
            <span class="text">我的</span>
        </a>
    </li>
    <li>
        <a href="chat_list_group.html" class="external">
            <span class="hs-icon messages"></span>
            <span class="text">消息</span>
        </a>
    </li>
</ul>
