footer {
    &.hs-footer {
        width: 10rem;
        position: fixed;
        z-index: 100;
        bottom: 0;
        background-color: #FFF;
        // color: #AE2121;
        height: 1.306rem;
        border-top: 0.0133rem solid #e8e8e8;
        ul {
            padding-left: 0.266667rem;
            padding-right: 0.266667rem;
            .hs-cf;
            li {
                float: left;
                width: 20%;
                text-align: center;
                // padding: .136rem 0;
                height: 1.306rem;
                overflow: hidden;
                &.notice_btn.active {
                    color: #AE2121;
                    opacity: 1;
                }
                a {
                    display: block;
                    height: 1.306rem;
                    position: relative;
                    width: 100%;
                    .icon{
                        width: 1rem;
                        height: 1rem;
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        margin: auto;
                    }
                    &:hover {
                        text-decoration:none;
                    }
                    &.active span {
                        color: #AE2121;
                        opacity: 1;
                    }
                    // span {
                    //     display: block;
                    //     color: #C6C6C6;
                    //     text-align: center;
                    //     &.text {
                    //         font-size: 0.32rem;
                    //         line-height: 1em;
                    //         transform: scale(0.9);
                    //         line-height: 10px;
                    //         margin-top: 0.2rem;
                    //     }
                    //     &.hs-icon {
                    //         font-size: 0.533rem;
                    //         &.home:before {
                    //             content: "\e666";
                    //         }
                    //         &.culture:before {
                    //             content: "\e664";
                    //         }
                    //         &.me:before {
                    //             content: "\e66a";
                    //         }
                    //         &.explore:before {
                    //             content: "\e669";
                    //         }
                    //         &.shopping:before {
                    //             content: "\e668";
                    //         }
                    //         &.new:after {
                    //             content: "";
                    //             width: .2rem;
                    //             height: .2rem;
                    //             border-radius: .3rem;
                    //             background-color: #AE2121;
                    //             position: absolute;
                    //             top: -0.04rem;
                    //             right: .6rem;
                    //         }
                    //     }
                    // }
                    // &.active span.home:before{
                    //     content: "\e66d";
                    // }
                    // &.active span.culture:before{
                    //     content: "\e66c";
                    // }
                    // &.active span.me:before{
                    //     content: "\e670";
                    // }
                    // &.active span.explore:before{
                    //     content: "\e66e";
                    // }
                    // &.active span.shopping:before{
                    //     content: "\e66f";
                    // }
                    .shopping-num{
                        position: absolute;
                        content: "";
                        width: .25rem;
                        height: .25rem;
                        border-radius: 200%;
                        top: 0;
                        right: 30%;
                        background-color: #AE2121;
                        display: none;
                    }
                    .information{
                        position: absolute;
                        content: "";
                        width: .25rem;
                        height: .25rem;
                        border-radius: 200%;
                        top: 0;
                        right: 28%;
                        background-color: #AE2121;
                        display: none;
                    }
                }
                .home{
                    .icon{
                        background: url(http://img8.ontheroadstore.com/H5_Icon/nav/tab_1.png) no-repeat center center;
                        background-size: cover;
                    }
                    &.active .icon{
                        background: url(http://img8.ontheroadstore.com/H5_Icon/nav/tab_1_active.png) no-repeat center center;
                        background-size: cover;
                    }
                }
                .cate{
                    .icon{
                        background: url(http://img8.ontheroadstore.com/H5_Icon/nav/tab_2.png?0225) no-repeat center center;
                        background-size: cover;
                    }
                    &.active .icon{
                        background: url(http://img8.ontheroadstore.com/H5_Icon/nav/tab_2_active.png?0225) no-repeat center center;
                        background-size: cover;
                    }
                }
                .cart{
                    .icon{
                        background: url(http://img8.ontheroadstore.com/H5_Icon/nav/tab_3.png) no-repeat center center;
                        background-size: cover;
                    }
                    &.active .icon{
                        background: url(http://img8.ontheroadstore.com/H5_Icon/nav/tab_3_active.png) no-repeat center center;
                        background-size: cover;
                    }
                }
                .msg{
                    .icon{
                        background: url(http://img8.ontheroadstore.com/H5_Icon/nav/tab_4.png) no-repeat center center;
                        background-size: cover;
                    }
                    &.active .icon{
                        background: url(http://img8.ontheroadstore.com/H5_Icon/nav/tab_4_active.png) no-repeat center center;
                        background-size: cover;
                    }
                }
                .mine{
                    .icon{
                        background: url(http://img8.ontheroadstore.com/H5_Icon/nav/tab_5.png) no-repeat center center;
                        background-size: cover;
                    }
                    &.active .icon{
                        background: url(http://img8.ontheroadstore.com/H5_Icon/nav/tab_5_active.png) no-repeat center center;
                        background-size: cover;
                    }
                }
            }
        }
    }
}
.notice_box.ui-dialog {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    background: rgba(0,0,0,.4);
    .notice_bd {
        position: absolute;
        bottom: 0;
        background-color: #222;
        padding-top: 0.36rem;
        padding-bottom: 0.44rem;
        width: 10rem;
        a {
            width: 4.95rem;
            display: block;
            float: left;
            text-align: center;
            color: #dedede;
            border-right: 0.013rem solid rgba(153,153,153,0.3);
            &:last-child {
                border:none;
            }
            span {
                display: block;
                &.text {
                    .font-dpr(14px);
                    .font-line-height(14px);
                }
                &.hs-icon {
                    .font-dpr(38px);
                    .font-line-height(38px);
                    &.culture:before {
                        content: "\e607";
                    }
                    &.store:before {
                        content: "\e606";
                    }
                }
            }
        }
    }
}
