 // 通用底部
 footer {
    &.hs-footer {
        width: 10rem;
        position: absolute;
        z-index: 100;
        bottom: 0;
        background-color: #1b181f;
        // opacity: .98;
        color: #58d996;
        ul {
            padding-left: 0.266667rem;
            padding-right: 0.266667rem;
            .hs-cf;
            li {
                float: left;
                width: 20%;
                text-align: center;
                padding: .16rem 0;
                overflow: hidden;
                &.notice_btn.active {
                    color: #58d996;
                    opacity: 1;
                }
                a {
                    display: block;
                    position: relative;
                    &:hover {
                        text-decoration:none;
                    }
                    &.active span {
                        color: #58d996;
                        opacity: 1;
                    }
                    span {
                        display: block;
                        color: #bbbabc;
                        text-align: center;
                        &.text {
                            .font-dpr(12px);
                            line-height: 10px;
                            [data-dpr="2"] & {
                                line-height: 12 * 2px;
                            }
                            [data-dpr="3"] & {
                                line-height: 10 * 3px;
                            }
                        }
                        &.hs-icon {
                            font-size: 32px;
                            line-height: 30px;
                            position: relative;
                            [data-dpr="2"] & {
                                font-size: 28 * 2px;
                                line-height: 26 * 2px;
                            }
                            [data-dpr="3"] & {
                                font-size: 28 * 3px;
                                line-height: 28 * 3px;
                            }
                            &.home:before {
                                content: "\e612";
                            }
                            &.culture:before {
                                content: "\e614";
                            }
                            &.addhspost:before {
                                content: "\e610";
                            }
                            &.me:before {
                                content: "\e611";
                            }
                            &.messages:before {
                                content: "\e613";
                            }
                            &.explore:before {
                                content: "\e647";
                            }
                            &.shopping:before {
                                content: "\e6e4";
                            }
                            &.new:after {
                                content: "";
                                width: .2rem;
                                height: .2rem;
                                border-radius: .3rem;
                                background-color: red;
                                position: absolute;
                                top: -0.04rem;
                                right: .6rem;
                            }
                        }
                    }
                    .shopping-num{
                        position: absolute;
                        content: "";
                        width: .25rem;
                        height: .25rem;
                        border-radius: 200%;
                        top: 0;
                        right: 20%;
                        background-color: #58d996;
                        display: none;
                    }
                    .information{
                        position: absolute;
                        content: "";
                        width: .25rem;
                        height: .25rem;
                        border-radius: 200%;
                        top: 0;
                        right: 28%;
                        background-color: #58d996;
                        display: none;
                    }
                }
            }
        }
    }
}
.notice_box.ui-dialog {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    background: rgba(0,0,0,.4);
    .notice_bd {
        position: absolute;
        bottom: 0;
        background-color: #222;
        padding-top: 0.36rem;
        padding-bottom: 0.44rem;
        width: 10rem;
        a {
            width: 4.95rem;
            display: block;
            float: left;
            text-align: center;
            color: #dedede;
            border-right: 1px solid #393939;
            &:last-child {
                border:none;
            }
            span {
                display: block;
                &.text {
                    .font-dpr(14px);
                    .font-line-height(14px);
                }
                &.hs-icon {
                    .font-dpr(38px);
                    .font-line-height(38px);
                    &.culture:before {
                        content: "\e607";
                    }
                    &.store:before {
                        content: "\e606";
                    }
                }
            }
        }
    }
}

