/* 清除浮动 */
.hs-cf() {
    &:after,
    &:before {
        content: " ";
        display: table
    }
    &:after {
        clear: both
    }
}
.hs-cf {
    &:after,
    &:before {
        content: " ";
        display: table
    }
    &:after {
        clear: both
    }
}
/* 浮动 */
.hs-fl {
    float: left;
}
.hs-fr {
    float: right;
}
/* 隐藏/显示 */
.hs-hide,.hide {
    display: none !important;
}
.hs-show,.show {
    display: block !important;
}
/* 圆头像 */
.avatar {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -webkit-border-radius: 2.666667rem;
    background-image: url(../img/avater.png);
}
/* 字体 */
.font-dpr(@font-size) {
    font-size: unit(@font-size / 37.5, rem);
    // [data-dpr="2"] & {
    //     font-size: @font-size * 2;
    // }
    // [data-dpr="3"] & {
    //     font-size: @font-size * 3;
    // }
}
.font-line-height(@font-size) {
    line-height: @font-size;
    [data-dpr="2"] & {
        line-height: @font-size * 2;
    }
    [data-dpr="3"] & {
        line-height: @font-size * 3;
    }
}
.torem(@name,@px) {
    @{name}: unit(@px / 75, rem);
 }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
@import "fonts.less";
// SUI
@import "../../../node_not/SUI-Mobile/less/mixins.less";
@import "../../../node_not/SUI-Mobile/less/variables.less";
@import "pull-to-refresh.less";
@import "pages.less";
@import "infinite.less";
@import "../../../node_not/SUI-Mobile/less/preloader.less";
@import "../../../node_not/SUI-Mobile/less/picker.less";
@import "../../../node_not/SUI-Mobile/less/swiper.less";
// @import "../../../node_not/SUI-Mobile/less/photo-browser.less";

@import "modal.less";

/* sui补丁 */
.page,.page-group {
  background-color: #ffffff;
}
.page-group {
    // -webkit-animation-duration: 0s;
    // animation-duration: 0s;
    // -webkit-backface-visibility:hidden;
    // -webkit-perspective:1000;
}
.no_data{
    position: absolute;
    top: 50%;
    .font-dpr(32px);
    color: #a8a8a8;
    text-align: center;
    width: 8rem;
    transform: translateY(-100%);
    left: 1rem;
}
a:hover {
    text-decoration: none;
}
// 按钮
button {
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  &[disabled="disabled"] , &:visited , &:active{
    opacity: .7;
}

}
/*滚动公告*/
/*.placard {
    background-color: #fff;
    height: 1.08rem;
    background-color: #3f7355;
    padding: 0 0.84rem 0 .32rem;
    position: relative;
    display: none;
    .placard_content {
        .font-dpr(18px);
        line-height: 1.08rem;
        color: #fff;
    }
    .placard_close {
        position: absolute;
        width: .52rem;
        height: .52rem;
        line-height: .52rem;
        .hs-icon;
        right: .32rem;
        top: 50%;
        margin-top: -.26rem;
        border: none;
        background:none;
        background-color: #fff;
        border-radius: 100%;
        text-align:center;
        &:after {
            color: #3f7355;
            content: "\e615";
            font-size: .42rem;
        }
    }
}*/
.phone_verify {
    display: none;
    .modal-overlay {
        visibility: visible;
        opacity: 1;
    }
    .phone_verify_modal {
        position: absolute;
        z-index: 11000;
        top: 3.1rem;
        left: 50%;
        margin-left: -3.11rem;
        .phone_verify_bd {
            width: 6.22rem;
            padding:0.0925rem;
            margin:0 auto;
            background-color: #fff;
            .logo {
                width: 6.22rem;
                height: 3.05rem;
                background-image: url('../img/phone_verify.png');
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .info {
                text-align: center;
                .font-dpr(13px);
                h3 {
                    .font-dpr(18px);
                    padding-top: 0.266667rem;
                    padding-bottom: 0.3rem;
                }
                div {
                    .font-dpr(13px) !important;
                    padding-bottom: 0.2rem;
                    text-align: center;
                    span {
                        color: #fc7300;
                    }
                }
            }
            .submit {
                color: #00df78;
                .font-dpr(18px);
                padding: 0.266667rem;
                margin:0 auto;
                display: block;
                text-align: center;
                border: none;
                background: none;
            }
        }
    }
}
em{
    font-style: italic;
}
/* === Photo Browser === */

.photo-browser {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -5rem;
    width: 10rem;
    height: 100%;
    z-index: 10500;

    header {
        top: 0;
        height: 1.02rem;
        line-height: 1.02rem;
        background-color: #1b181f;
        .font-dpr(16px);
        .title {
            display: none;
        }
        .icon {
            position: relative;
            z-index: 20;
            padding: 0.2rem .1rem;
            font-size: 0.62rem;
            line-height: 1.02rem;
            color: #FFF;
            .hs-icon;
            &:before {
                content: '\e63b';
            }
        }
    }
    .content {
        overflow: hidden;
    }
    .bar-tab{
        display: none;
    }
    .bar-tab .tab-item .icon {
        width: 0.2rem;
        height: 0.2rem;
        margin-top: -0.08rem;
    }
    .bar-tab~.photo-browser-captions {
      bottom: 0.72rem;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
  }
  &.photo-browser-in {
    display: block;
    animation: photoBrowserIn 400ms forwards;
}
&.photo-browser-out {
    display: block;
    animation: photoBrowserOut 400ms forwards;
}
html.with-statusbar-overlay & {
    height: ~"-webkit-calc(100% - 1rem)";
    height: ~"calc(100% - 1rem)";
    top: 1rem;
}
.popup > &,
body > & {
    .navbar, .toolbar {
        transform: translate3d(0, 0, 0);
    }
}
.page[data-page="photo-browser-slides"] {
    background: none;
}
    //add
    .page {
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #efeff4;
    }
    .view {
      overflow: hidden;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 5000;
  }
}

.page[data-page="photo-browser-slides"] {
    .toolbar a {
        color: @color-success;
    }
}

.photo-browser-popup {
    background: none;
    overflow: hidden;
}

.photo-browser,
.view[data-page="photo-browser-slides"] {
    .navbar, .toolbar {
        background: rgba(247, 247, 247, 0.95);
        transition: 400ms;
    }
}

.view[data-page="photo-browser-slides"] .page[data-page="photo-browser-slides"] {
    .navbar, .toolbar {
        transform: translate3d(0, 0, 0);
    }
}

.photo-browser-exposed {
    .navbar, .toolbar {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .photo-browser-swiper-container {
        background: #ddd;
    }
}

.photo-browser-of {
    margin: 0 0.25rem;
}

.photo-browser-captions {
    pointer-events: none;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: 10;
    opacity: 1;
    transition: 400ms;
    &.photo-browser-captions-exposed {
        opacity: 0;
    }
}

.toolbar ~ .photo-browser-captions {
    bottom: 2.2rem;
    transform: translate3d(0, 0, 0);
    .photo-browser-exposed & {
        transform: translate3d(0, 2.2rem, 0);
    }
    &.photo-browser-captions-exposed {
        transformt: ranslate3d(0, 0, 0);
    }
}

.photo-browser-caption {
    box-sizing: border-box;
    transition: 300ms;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    padding: 0.2rem 0.25px;
    width: 100%;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    &:empty {
        display: none;
    }
    &.photo-browser-caption-active {
        opacity: 1;
    }
    .photo-browser-captions-light & {
        background: rgba(255, 255, 255, 0.8);
        color: @color-text;
    }
    .photo-browser-exposed & {
        color: #fff;
        background: rgba(0, 0, 0, 0.8);
    }
}

.photo-browser-swiper-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #ddd;
    transition: 400ms;
}

.photo-browser-swiper-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
}

.photo-browser-link-inactive {
    opacity: 0.3;
}

.photo-browser-slide {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;
    &.transitioning {
        transition: 400ms;
    }
    span.photo-browser-zoom-container {
        width: 100%;
        text-align: center;
        display: none;
    }
    img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        display: none;
    }
    &.swiper-slide-active,
    &.swiper-slide-next,
    &.swiper-slide-prev {
        span.photo-browser-zoom-container {
            display: block;
        }
        img {
            display: inline;
        }
        &.photo-browser-slide-lazy {
            .preloader {
                display: block;
            }
        }
    }
    iframe {
        width: 100%;
        height: 100%;
    }
    .preloader {
        display: none;
        position: absolute;
        width: 2.1rem;
        height: 2.1rem;
        margin-left: -2.1rem;
        margin-top: -2.1rem;
        left: 50%;
        top: 50%;
    }
}

.photo-browser-dark {
    .navbar, .toolbar {
        background: rgba(30, 30, 30, 0.8);
        // .hairline-remove(top);
        // .hairline-remove(bottom);
        &:before {
            display: none;
        }
        &:after {
            display: none;
        }
        color:#fff;
        a {
            color: #fff;
        }
    }
    .photo-browser-swiper-container {
        background: #000;
    }

}

@keyframes photoBrowserIn {
    0% {
        transform: translate3d(0, 0, 0) scale(0.5);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0) scale(1);
        opacity: 1;
    }
}

@keyframes photoBrowserOut {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate3d(0, 0, 0) scale(0.5);
        opacity: 0;
    }
}
.popup-video {
    background: #ddd;
    display:flex;
    justify-content:center;
    align-items: center;
    position: relative;
    height: 100%;
    .popup-header {
        position: absolute;
        top: 0;
        left: 0;
        height: 1.02rem;
        line-height: 1.02rem;
        background-color: #1b181f;
        font-size: 16px;
        width: 10rem;
        a {
            position: relative;
            padding: .2rem .1rem;
            font-size: .62rem;
            line-height: 1.02rem;
            color: #68be8c;
            &:before {
                content: '\e615';
            }
        }
    }
    .content-block {
       width: 10rem;
   }
}

//单行显示省略号
.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
//2行显示省略号
.ellipsis_2{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;/*辣鸡的gulp less 无法识别该属性，暂时无法使用。*/
    -webkit-line-clamp: 2;
}
