.chat_list_group {
  height: 100%;
  .hs-main {
    padding:0;

    background-color: #fff;
    .chat_list_group_bd {
      ul {
        .hs-cf;
        li {
          position: relative;
          display: block;
          overflow: hidden;
          .hs-cf;
          &:last-child {
            margin-bottom: 0;
          }
          &.new {
            .avatar {
              overflow: inherit;
            }
            .avatar:before {
              content: "";
              display: block;
              width: 0.28rem;
              height: 0.28rem;
              position: absolute;
              background-color: red;
              border-radius: 0.28rem;
              right: 0;
              border: 0.04rem solid #fff;
            }
          }
          &.active {
            a {
              position: absolute;
              left: -1.4rem;
              width: 10rem;
            }
            .delete {
              position: absolute;
              right: 0;
              top: 0;
              background-color: #fe0000;
              .font-dpr(16px);
              color: #fff;
              padding: 0 .8rem;
              border:none;
              display: none;
            }
            .info {
              .date {
                margin-right: 1.6rem !important;
              }
            }
          }
          a {
            display: block;
            width: 10rem;
            padding-top: .26rem;
            .hs-cf();
            .avatar {
              width: 1.12rem;
              height: 1.12rem;
              float:left;
              margin-left: 0.386667rem;
              position: relative;
            }
            .info {
              .hs-cf();
              float: right;
              width: 8.08rem;
              border-bottom: 0.013333rem solid rgba(211, 211, 211, .5);
              .username {
               .hs-cf();
               h3 {
                float: left;
                color: #000;
                .font-dpr(16px);
              }
              .date {
                float: right;
                color: #979797;
                .font-dpr(14px);
                margin-right: 0.693333rem;
              }
            }
            .des {
              .font-dpr(14px);
              color: #979797;
              padding: 0.29rem 0;
            }
          }
        }
        .delete {
          display: none;
        }
      }
    }
    .dropload-down {
      border:none;
    }
  }
}
}
