.chat_list_group {
  height: 100%;
  .hs-main {
    padding:0;
    background-color: #fff;
    .chat_list_group_bd {
      ul {
        li {
          position: relative;
          height: 1.12rem;
          margin: 0.24rem 0;
          padding: 0.24rem 0;
          .hs-cf;
          &:last-child {
            margin-bottom: 0;
          }
          &.active {
            a {
              position: absolute;
              left: -1.4rem;
              width: 10rem;
            }
            .delete {
              position: absolute;
              right: 0;
              top: 0rem;
              width: 1.92rem;
              height: 1.84rem;
              background-color: #fe0000;
              border: none;
              .font-dpr(16px);
              color: #fff;
            }
          }
          a {
            display: block;
            width: 10rem;
            .hs-cf();
            .avatar {
              width: 1.12rem;
              height: 1.12rem;
              float:left;
              margin-left: 0.386667rem;
            }
            .info {
              .hs-cf();
              float: right;
              width: 8.08rem;
              padding-bottom: 0.34rem;
              border-bottom: 1px solid #eee;
              .username {
               .hs-cf();
               h3 {
                float: left;
                color: #000;
                .font-dpr(16px);
              }
              .date {
                float: right;
                color: #979797;
                .font-dpr(14px);
                margin-right: 0.693333rem;
              }
            }
            .des {
              margin-top: 0.306667rem;
              .font-dpr(14px);
              color: #979797;
            }
          }
        }
        .delete {
          display: none;
        }
      }
    }
    .dropload-down {
      border:none;
    }
  }
}
}
