.search_list{
  width: 10rem;
  height: 100%;
  position: absolute;
  z-index: 1000;
  background: #FFF;
  display: none;
  left: 50%;
  margin-left: -5rem;
  .search_box{
    margin: 0 0.334rem;
    border-bottom: 0.05rem solid #000;
    .hs-cf;
    .font-dpr(14px);
    position: relative;
    .search_icon{
      position: absolute;
      left: 0;
      top: 0.5rem;
    }
    .search_icon:after{
      content: '\e65f';
      .font-dpr(17px);
    }
    .search_content{
      border: none;
      width: 5.5rem;
      float: left;
      display: block;
      padding-left: 0.64rem;
      line-height: 0.58rem;
      margin: 0.46rem 0 0.334rem;
    }
    .searchBtn{
      padding: 0.46rem 0 0.334rem;
      float: right;
      display: block;
      padding-right: 0.5rem;
    }
    .cancelBtn{
      padding: 0.46rem 0.1rem 0.334rem 0.5rem;
      float: right;
      display: block;
      position: relative;
      &:after{
        content: '';
        width: 0.02rem;
        height: 0.5rem;
        background: #CACACA;
        position: absolute;
        left: 0;
        transform: translateY(-27%);
        top: 50%;
      }
    }
  }
  .search_null{
    padding: 1.33333rem 0 1.6rem;
    text-align: center;
    border-bottom: 0.2rem solid #F5F5F5;
    width: 100%;
    .font-dpr(14px);
    color: #8E8E8E;
    display: none;
    .search_null_bold{
      font-weight: bold;
      color: #202123;
      .font-dpr(16px);
      line-height: 1;
      margin-bottom: 0.21333rem;
    }
  }
  .conjecture_like{
    padding: 0 0.334rem;
    margin-top: 0.334rem;
    display: none;
    .title{
      position: relative;
      height: .53rem;
      line-height: .53rem;
      padding-left: .46rem;
      .font-dpr(15px);
      &:after{
        content: '';
        position: absolute;
        height: 100%;
        width: .135rem;
        background: #333;
        left: 0;
      }
    }
  }
  .search_correlation{
    padding: 0 0.334rem;
    .history_search,
    .showall_search{
      position: relative;
      .title{
        margin: 0.46rem 0 0.334rem;
        color: #838383;
        .font-dpr(16px);
      }
      .hr{
        width: 1rem;
        height: 0.013rem;
        background: #CACACA;
      }
      .history_search_items,
      .showall_search_items{
        padding: 0.6rem 0 0.27rem 0;
        .hs-cf;
        span{
          display: block;
          float: left;
          .font-dpr(14px);
          height: 0.667rem;
          margin-right: 0.2rem;
          margin-bottom: 0.33rem;
          border: 0.013rem solid #E8E8E8;
          line-height: 0.667rem;
          text-align: center;
          padding: 0 0.33rem;
          position: relative;
          border-radius: 0.08rem;
        }
      }
    }
    .history_search{
      .delete_all_word:after{
        content: '\e642';
        position: absolute;
        color: #000;
        top: 0.02rem;
        right: 0.2rem;
      }
      .history_search_items .word_item{
        min-width: 0.8rem;
        &.delete_item:after{
          content: '删除';
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,0.7);
          text-align: center;
          line-height: 0.667rem;
          .font-dpr(13px);
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
  .search_goods_list{
    .search_goods_content{
      padding-bottom: 1.2rem;
    }
    display: none;
    ul{
      padding-top: 0.334rem;
      li {
          border-bottom: 0.0133rem solid #E8E8E8;
          margin: 0 0.4rem 0.533rem;
          .hs-cf;
          &:last-child {
              border: none;
              margin-bottom: 0;
          }
          .articles{
              display: block;
              color: #212121;
              .image {
                  width: 100%;
                  height: 4.693rem;
                  background-color: #F5F5F5;
                  background-position: 50% 50%;
                  background-repeat: no-repeat;
                  background-size: 100%;
                  border-radius: 0.16rem;
              }
              .title {
                  .font-dpr(14px);
                  line-height: 1em;
                  font-weight: bold;
                  padding: 0.267rem 0;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
              }
          }
          .user {
              padding-bottom: 0.533rem;
              color: #b7b7b7;
              .hs-cf;
              .classify{
                  float: right;
              }
              .classify_keyword {
                  display: block;
                  .font-dpr(12px);
                  padding: 0 0.133rem;
                  border-radius: 0.107rem;
                  color: #8E8E8E;
                  background: #F5F5F5;
                  height: 0.533rem;
                  line-height: 0.533rem;
              }
              .classify_keyword_none{
                  opacity: 0;
              }
              .user_info{
                  float: left;
                  line-height: 0.533rem;
                  img{
                      width: 0.533rem;
                      height: 0.533rem;
                      float: left;
                      border-radius: 50%;
                  }
                  span{
                      .font-dpr(12px);
                      float: left;
                      padding-left: 0.213rem;
                      color: #8E8E8E;
                      display: block;
                      overflow: hidden;
                      white-space: nowrap;
                      text-overflow: ellipsis;
                      max-width: 6rem;
                  }
              }
          }
      }
    }
  }
}