 
 .tab_search{
   display: none;
   .item_search{
    .font-dpr(14px);
     display: flex;
     justify-content: center;
     align-items: center;
     border-bottom: 1px solid #E9E9E9;
     span{
       width: 2.5rem;
       line-height: 3em;
       text-align: center;
       color: #979797;
       .font-dpr(14px);
       &.active{
        border-bottom: 1px solid #151515;
        color: #151515;
       }
     }
   }
 }
.tabs-box{
  display: none;
}
.tabs{
  position: relative;
  background: #FFF;
  width: 9.2rem;
  height: .69rem;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1000;
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: .2rem;
  // border-bottom:  0.0183rem solid #E8E8E8;
  border-radius: .1rem;
  overflow: hidden;
  border: 1px solid #151515;
  margin-bottom: .2rem;
  box-sizing: border-box;

  span{
    width: 2.3rem;
    font-size: .36rem;
    text-align: center;
    height: .69rem;
    line-height: .69rem;
    color: #151515;
    position: relative;
    border-right: 1px solid #151515;
    background: #fff;
    &.active{
      color: #fff;
      background: #151515;
    }
  }
  .price{
    &::after{
      content: '';
      display: block;
      position: absolute;
      background: url(http://img8.ontheroadstore.com/H5_Icon/price_up.png) no-repeat center center;
      background-size: 100% 100%;
      width: .25rem;
      height: .36rem;
      top: .16rem;
      right: .5rem;

    }
   
  }
  .price-active-1{
    color: #ffffff;
    background: #151515;
    &::after{
      content: '';
      display: block;
      position: absolute;
      background: url(http://img8.ontheroadstore.com/H5_Icon/price_up_s.png) no-repeat center center;
      background-size: 100% 101%;
      width: .25rem;
      height: .36rem;
      top: .16rem;
      right: .5rem;
      z-index: 99999;
    }
  }
  .price-active-2{
    color: #ffffff;
    background: #151515;
    &::after{
      content: '';
      display: block;
      position: absolute;
      background: url(http://img8.ontheroadstore.com/H5_Icon/price_down_s.png) no-repeat center center;
      background-size: 100% 100%;
      width: .25rem;
      height: .36rem;
      top: .16rem;
      right: .5rem;
      z-index: 99999;
    }
  }
  
}
.search_list{
  width: 10rem;
  height: 100%;
  position: absolute;
  z-index: 1000;
  background: #FFF;
  display: none;
  left: 50%;
  margin-left: -5rem;
  .search_box{
    margin: 0 0.334rem;
    border-bottom: 0.05rem solid #000;
    .hs-cf;
    .font-dpr(14px);
    position: relative;
    .search_icon{
      position: absolute;
      left: 0;
      top: 0.5rem;
    }
    .search_icon:after{
      content: '\e65f';
      .font-dpr(17px);
    }
    .search_content{
      border: none;
      width: 5.5rem;
      float: left;
      display: block;
      padding-left: 0.64rem;
      line-height: 0.58rem;
      margin: 0.46rem 0 0.334rem;
    }
    .searchBtn{
      padding: 0.46rem 0 0.334rem;
      float: right;
      display: block;
      padding-right: 0.5rem;
    }
    .cancelBtn{
      padding: 0.46rem 0.1rem 0.334rem 0.5rem;
      float: right;
      display: block;
      position: relative;
      &:after{
        content: '';
        width: 0.02rem;
        height: 0.5rem;
        background: #CACACA;
        position: absolute;
        left: 0;
        transform: translateY(-27%);
        top: 50%;
      }
    }
  }
  .search_null{
    // padding: 1.33333rem 0 1.6rem;
    text-align: center;
    // border-bottom: 0.2rem solid #F5F5F5;
    width: 100%;
    .font-dpr(14px);
    color: #8E8E8E;
    display: none;
    .search_null_msg{
      text-align: left;
      text-indent: .5rem;
      color: #151515;
    }
    .search_null_bold{
      font-weight: bold;
      color: #202123;
      .font-dpr(14px);
      line-height: 1;
      margin-bottom: 0.21333rem;
      .no_data_icon{
        background: url(http://img8.ontheroadstore.com/H5_Icon/search_no_data_icon.png) no-repeat center center;
        background-size: 100% 100%;
        display: inline-block;
        width: .6rem;
        height: .6rem;
        position: relative;
        top: .2rem;
      }
    }
  }
  
  .conjecture_like{
    padding: 0 0.334rem;
    margin-top: 0.334rem;
    display: none;
    .title{
      position: relative;
      height: .53rem;
      line-height: .53rem;
      padding-left: .46rem;
      .font-dpr(15px);
      &:after{
        content: '';
        position: absolute;
        height: 100%;
        width: .135rem;
        background: #333;
        left: 0;
      }
    }
  }
  .search_correlation{
    padding: 0 0.334rem;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    .history_search,
    .showall_search{
      position: relative;
      .title{
        margin: 0.46rem 0 0.334rem;
        color: #202123;
        font-weight: 900;
        .font-dpr(14px);
      }
      // .hr{
      //   width: 1rem;
      //   height: 0.013rem;
      //   background: #CACACA;
      // }
      .history_search_items,
      .showall_search_items{
        padding: 0.27rem 0 0.27rem 0;
        .hs-cf;
        span{
          display: block;
          float: left;
          .font-dpr(14px);
          height: 0.667rem;
          margin-right: 0.2rem;
          margin-bottom: 0.33rem;
          border: 1px solid #E8E8E8;
          line-height: 0.667rem;
          text-align: center;
          padding: .06rem 0.33rem;
          position: relative;
          border-radius: 0.7rem;
        }
      }
    }
    .history_search{
      .delete_all_word:after{
        content: '\e642';
        position: absolute;
        color: #000;
        top: 0.02rem;
        right: 0.2rem;
      }
      .delete_all{
        float: right;
        color: #8E8E8E;
        font-weight: normal;
        padding-right: .25rem;
        display: none;
      }
      .finish{
        float: right;
        color: #AE2121;
        font-weight: normal;
        padding-left: .25rem;
        border-left: 1px solid #000;
        display: none;
      }
      .history_search_items .word_item{
        // min-width: 0.8rem;
        position: relative;
        // z-index: 2;
        &.delete_item:after{
          content: '删除';
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,0.7);
          text-align: center;
          line-height: 0.667rem;
          .font-dpr(13px);
          position: absolute;
          top: 0;
          left: 0;
        }
        .delete_one{
          position: absolute;
          z-index: 66;
          background: rgba(0,0,0,0.7);
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          padding: 0;
          margin: 0;
          // position: absolute;
          display: none;
          // width: .4rem;
          // height: .4rem;
          // background: #8E8E8E;
          // color: #FFF;
          // font-size: .2rem;
          // line-height: .4rem;
          // border-radius: .4rem;
          // overflow: hidden;
          // margin: 0;
          // padding: 0;
          // top: -.1rem;
          // right: -.1rem;
          // z-index: 66;
          &::after{
            content: '删除';
            color: #fff;
            .font-dpr(11px);
          }
        }
      }
    }
  }
  .search_goods_list{
    .search_goods_content{
      padding-bottom: 3.2rem;
     
    }
    display: none;
    ul{
      padding-top: 0;
      &::after{/*伪元素是行内元素 正常浏览器清除浮动方法*/
        content: "";
        display: block;
        height: 0;
        clear:both;
        visibility: hidden;
     }
      .jump_cate_box{
        height: 1.5rem;
        padding: .5rem 0;
        margin: 0 .3rem .3rem;
        // border-bottom:  0.0183rem solid #E8E8E8;
        overflow: hidden;
        .cate_left{
          float: left;
          width: 1.5rem;
          height: 1.5rem;
          margin-right:0  .2rem;
          border-radius: .2rem;
        }
        .cate_right{
          float: left;
          p{
            line-height: .75rem;
            .font-dpr(14px);
            width: 4rem;
            height: .75rem;
            overflow: hidden;
            
          }
          .name{
            font-weight: bold;
            color: #000;
          }
          .desc{
            color: #8E8E8E;
          }
        }
        .btn{
          width: 2.35rem;
          height: .72rem;
          .font-dpr(14px);
          border:  1px solid #000;
          border-radius: .16rem;
          float: right;
          text-align: center;
          line-height: .72rem;
          color: #000;
          margin-top: .4rem;
          font-weight: bold;

        }
      }
      ul{
        width: 10rem;
        // display: flex;
        //   flex-flow: space-between;
        //   flex-wrap: wrap;
      
      }
      .cate_list{
        display: flex;
        justify-content: start;
        align-items: center;
        width: 100%;
        overflow-x: scroll;
        a{
          display: inline-block;
          .name{
            text-align: center;
            // font-weight: bold;
            color: #151515;
            .font-dpr(12px);
            
            // overflow: hidden;
          }
        }
      }
      .top_tit{
        line-height: 1rem;
        text-indent: .4rem;
        .font-dpr(16px);
        font-weight: bold;
      }
      .good_item {
          // border-bottom: 0.0183rem solid #E8E8E8;
          // margin: 0 0.4rem 0.533rem;
          color: #151515;
        display: inline-block;
          width: 4.97rem;
          height: 7.23rem;
          margin-bottom: .6rem;
          overflow: hidden;
          float: left;
          .hs-cf;
          &:last-child {
              border: none;
              margin-bottom: 0;
          }
          .articles{
              display: block;
              color: #212121;
              .font-dpr(14px);
              .image {
                  width: 4.97rem;
                  height: 4.97rem;
                  background-color: #F5F5F5;
                  background-position: 50% 50%;
                  background-repeat: no-repeat;
                  background-size: cover;
                  // border-radius: 0.16rem;
              }
              .title{
                height: .48rem;
                overflow: hidden;
                line-height: .48rem;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                padding: 0 .2rem;
                margin-top: .1rem;

            }
            .sub_title{
                height: .96rem;
                overflow: hidden;
                line-height: .48rem;
                color: #979797;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                padding: 0 .2rem;
            }
            .price{
              padding-left: .2rem;
            }

          }
          .user {
              padding-bottom: 0.533rem;
              color: #b7b7b7;
              .hs-cf;
              .price{
                .font-dpr(20px);
                font-weight: bold;
                float: right;
                margin-right: .2rem;
                color: #000;
              }
              .classify{
                  float: right;
              }
              .classify_keyword {
                  display: block;
                  .font-dpr(12px);
                  padding: 0 0.133rem;
                  border-radius: 0.107rem;
                  color: #8E8E8E;
                  background: #F5F5F5;
                  height: 0.533rem;
                  line-height: 0.533rem;
              }
              .classify_keyword_none{
                  opacity: 0;
              }
              .user_info{
                  float: left;
                  line-height: 0.533rem;
                  img{
                      width: 0.533rem;
                      height: 0.533rem;
                      float: left;
                      border-radius: 50%;
                  }
                  span{
                      .font-dpr(12px);
                      float: left;
                      padding-left: 0.213rem;
                      color: #8E8E8E;
                      display: block;
                      overflow: hidden;
                      white-space: nowrap;
                      text-overflow: ellipsis;
                      max-width: 6rem;
                  }
              }
          }
      }
      .no_data{
        text-align: center;
        line-height: 5rem;
        .font-dpr(14px);
      }
      .user_item{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .53rem;
        border-bottom: 1px solid #979797;
        // background: #F3F3F3;
        img{
          width: 1.493rem;
          height: 1.493rem;
          border-radius: 100%;
        }
        .name_sign{
          width: 5.8rem;
          overflow-x: hidden;
          margin-left: .5rem;
          span{
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            .font-dpr(13px);
            font-weight: bold;
            line-height: 1.5em;
          }
          .sign{
            color: #979797;
            .font-dpr(13px);
            font-weight: normal;
          }
        }
        .follow_btn{
          .font-dpr(13px);
          width: 2rem;
          height: .6rem;
          line-height: .6rem;
          text-align: center;
          background: linear-gradient(217deg, #A3F8FF 0%, #9B7BFF 100%);
          border-radius: 0.1333rem;
          color: #ffffff;
        }
      }
      .topic_item{
        padding: .53rem;
        img{
          width: 2.8rem;
          height: 2.8rem;
          border-radius: .1rem;
        }
        .topic_cont{
          width: 6rem;
          margin-left: .1rem;
          float: right;
          height: 2.8rem;
          position: relative;
          .title{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            .font-dpr(18px);
            font-weight: bold;
          }
          .sub_tit{
            .font-dpr(12px);
            color: #8E8E8E;
          }
          .segment{
            position: absolute;
            bottom: 0;
            left: 0;
            padding: .05rem .15rem;
            border: 1px solid #7264F9;
            border-radius: .1rem;
            color: #7264F9;
          }
        }
      }
      .article_item{
        position: relative;
        width: 10rem;
        height: 4.267rem;
        img{
          width: 10rem;
          height: 4.267rem;
          object-fit: cover;
        }
        span,p{
          position: absolute;
        }
        span{
          color: #ffffff;
          .font-dpr(8px);
          font-style:italic
        }
        .article_number{
          left: .5rem;
          top: .9rem;
        }
        .article_date{
          top: 2rem;
          left: .5rem;
        }
        .tit{
          left: .5rem;
          top: 2.5rem;
          width: 9rem;
          .font-dpr(14px);
          font-weight: bold;

        }
      }
    }
  }
}