.clear_cart {
  background: #3E0606;
  .hs-page {
    background: #3E0606;


    .act_banner{
      position: relative;
      width:10rem;
      height:5.17333rem;
      img{
        display: block;
        width: 100%;
        height: 100%;
      }

    }

    .act_content_wrap{
      position: relative;
      z-index: 5;
      top: -1.92rem;
      padding: 1.2rem 0.64rem 0;
      .act_coupon_wrap{
        box-sizing: border-box;
        width:100%;
        background:rgba(255,255,255,0.14);
        border-radius:0.64rem;
        border:0.08rem solid #fff;
        padding: 0.53333rem;

        .act_coupon_ul{

          .act_coupon_li{
            position: relative;
            height: 1.54667rem;
            padding: 0 0 0 0.08rem;
            background: url('https://img8.ontheroadstore.com/static/2018sd/cart_act_coupon_bg.png') no-repeat center;
            background-size: cover;
            border-radius: 0.32rem;
            overflow: hidden;
            margin-bottom: 0.26667rem;
            .left{
              float: left;
              padding-top: 0.26667rem;
              width: 2.08rem;
              text-align: center;
              .price{
                height: 0.69333rem;
                font-size: 0.69333rem;
                line-height: 0.69333rem;
                font-family:'din';
                font-weight:500;
                color: #AE2121;
              }
              .tip{
                font-size:0.26667rem;
                font-weight:500;
                color:#202123;
                line-height:0.37333rem;
              }
            }
            .right{
              float: left;
              padding: 0.26667rem 0 0 0.69333rem;
              width: 4.4rem;
              .title{
                font-size:0.34667rem;
                font-weight:600;
                color:#202123;
                line-height:1;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
              .time{
                font-size:0.26667rem;
                font-weight:400;
                color:#8E8E8E;
                line-height:1;
                margin-top: 0.4rem;
              }
            }
          }
        }

        .get_coupon_btn{
          font-size: 0.37333rem;
          font-weight:600;
          height: 1.06667rem;
          line-height: 1.06667rem;
          background:#AE2121;
          border-radius:0.32rem;
          color: #fff;
          text-align: center;
          margin-top: 0.53333rem;
        }

      }

      .act_txt{
        font-size:0.37333rem;
        font-weight:600;
        color:rgba(255,255,255,0.6);
        line-height:0.58667rem;
        margin-top: 0.4rem;
        text-align: justify;
        &.mt{
          margin-top: 0.8rem;
        }
      }

    }








  }


}