/*抽奖活动规则*/
.partner_detail {
  background: #fff;
  .hs-page {

    .partner_detail_wrap{
      padding: 0.4rem;
      .user_info{
        font-size:0.32rem;
        font-weight:600;
        color:#333333;
        line-height:0.8rem;
        img{
          float: left;
          width: 0.8rem;
          height: 0.8rem;
          margin-right: 0.16rem;
          border-radius: 50%;
        }
      }

      .income_card{
        margin-top: 0.4rem;
        .partner_rule{
          display: block;
          padding: 0.64rem;
          background: #232529;
          box-shadow:0 0.10667rem 0.37333rem 0 rgba(0,0,0,0.3);
          border-radius: 0.24rem;
          color: #fff;

          .title{
            font-size: 0.37333rem;
            font-weight:600;
            line-height: 0.53333rem;
            .partner_rule_btn{
              float: right;
              width: 1.76rem;
              height: 0.48rem;

            }
          }
        }

      }


    }

  }

}