/*商品详情页*/
.store-show {

    .hs-main {
        background-color: #fff;
        .hs-cf;
    }
    .hs-store-show-header {
        height: 1.213333rem;
        line-height: 1.28rem;
        border-bottom: 0.066667rem solid rgba(211, 211, 211, .5);
        padding-left: 0.34rem;
        padding-right: 0.42rem;
        z-index: 100;
        width: 9.253333rem;
        background-color: #fff;
        .hs-cf;
        .portrait {
            width: 0.8rem;
            height: 0.8rem;
            margin: 0.213333rem 0;
            float: left;
        }
        .username {
            float: left;
            padding-left: 0.346667rem;
            color: #333;
            .font-dpr(12px);
        }
        .attention-btn {
            background: none;
            float: right;
            margin-top: 0.32rem;
            border: 0.04rem solid #68be8c;
            border-radius: 0.066667rem;
            color: #68be8c;
            line-height: 0.506667rem;
            padding: 0 0.333333rem;
            .font-dpr(13px);
            &.active {
                border: 0.04rem solid #fff;
                color: #878787;
            }
            i {
                margin-right: 0.12rem;
                &:before {
                    content: "\e6b8";
                }
            }
        }
        
    }
    .hs-store-show-footer {
        width: 10rem;
        overflow: hidden;
        position: absolute;
        z-index: 100;
        background-color: #1b181f;
        bottom: 0;
        .footer_nav{
            .hs-cf;
            background-color: #1b181f;
            color: #5d5c61;
            position: relative;
            ul {
                width: 6.26rem;
                float: left;
                li {
                    float: left;
                    width: 25%;
                    padding: .16rem 0;
                    a {
                        display: block;
                        position: relative;
                        span {
                            display: block;
                            color: #bbbabc;
                            width: 100%;
                            text-align: center;
                            &.text {
                                .font-dpr(12px);
                                line-height: 10px;
                                [data-dpr="2"] & {
                                    line-height: 12 * 2px;
                                }
                                [data-dpr="3"] & {
                                    line-height: 10 * 3px;
                                }
                            }
                            &.hs-icon {
                                .font-dpr(20px);
                                .font-line-height(25px);
                                position: relative;
                                &.home:before {
                                    content: "\e637";
                                }
                                &.chat:before {
                                    content: "\e619";
                                }
                                &.reward:before {
                                    content: "\e623";
                                }
                                &.shopping:before {
                                    content: "\e616";
                                }
                            }
                        }
                        .shopping-num{
                            width: 0.25rem;
                            height: 0.25rem;
                            position: absolute;
                            background-color: #E03B29;
                            left: 60%;
                            top: 0;
                            transform: translate(10%,-10%);
                            border-radius: 0.2rem 0.2rem;
                            text-align: center;
                            line-height: 0.4rem;
                            color: white;
                            .font-dpr(12px);
                            display: none;
                        }
                    }
                }
            }
            .comment-btn {
                display: block;
                width: 3.74rem;
                position: absolute;
                right: 0;
                bottom: 0;
                height: 100%;
                background-color: #E03B29;
                color: #fff;
                border: none;
                font-weight: bold;
                .font-dpr(16px);
            }
        }
    }
    .frontcover {
        height: 5.693333rem;
        position: relative;
        .image {
            height: 5.693333rem;
            width: 10rem;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('../img/index_loading.gif');
        }
        .video{
            height: 5.693333rem;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            video{
                opacity: 0;
                position: relative;
                z-index: 999;
            }
        }
        .video:after {
            position: absolute;
            content: ' ';
            background-image: url('../img/show_video.png');
            background-repeat: no-repeat;
            background-position: center;
            width: 2.96rem;
            height: 3.08rem;
            background-size: 30%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .video_play:after{
            content: '';
            background: none;
            width: 0;
            height: 0;
        }
        .tag {
            position: absolute;
            top: 0.36rem;
            left: 0.333333rem;
            width: 9.33333rem;
            z-index: 100;
            .hs-cf;
            a {
                background-color: #68be8c;
                color: #fff;
                display: block;
                float: left;
                margin-left: 0.173333rem;
                padding: 0 0.106667rem;
                line-height: 0.64rem;
                .font-dpr(12px);
                border-radius: 0.053333rem;
            }
            .collect{
                float: right;
                i{
                    .font-line-height(18px);
                    .font-dpr(18px);
                    &.nocollect:before{
                        color: white;
                        content: "\e614";
                    }
                    &.collect:before{
                        color: #eb4f38;
                        content: "\e649";
                    }
                }
            }
        }
        .title {
            position: absolute;
            padding: 0 0.333333rem;
            width: 9.333334rem;
            bottom: 0.34rem;
            letter-spacing: -0.026667rem;
            color: #fff;
            z-index: 99;
            .font-dpr(16px);
            font-weight: bold;
        }
   }
    .content_bd {
        padding: 0.346667rem 0.413333rem;
        .font-dpr(15px);
        color: #212121;
        overflow: hidden;
        text-align: justify;
        word-break: break-all;
    }
.images {
    padding: 0 0 0 0.373333rem;
    ul {
        .hs-cf;
        li {
            width: 2.96rem;
            height: 3.08rem;
            float: left;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            background-size: cover;
            margin-right: 0.18rem;
            margin-bottom: 0.213333rem;
            background-image: url('../img/index_loading.gif');
            position: relative;
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
}
/* 购买 */
.activity_buy,
.buy {
    height: 1.72rem;
    padding-left: 0.346667rem;
    padding-right: 0.44rem;
    background-color: #191919;
    position: relative;
    .hs-cf;
    .info {
        float: left;
        color: #fff;
        strong {
            display: block;
            .font-dpr(30px);
            padding-top: 0.32rem;
            padding-bottom: 0.15rem;
            line-height: 0.613333rem;
            span{
                .font-dpr(16px);
                    display: inline-block;
                    float: right;
                    margin-left: 0.3rem;
                    padding-top: 0.24rem;
            }
        }
        span {
            .font-dpr(12px);
            line-height: 0.293333rem;
        }
    }
    .shopping_cart,
    .buy_btn {
        line-height: 0.946667rem;
        padding: 0 0.44rem;
        margin-top: 0.36rem;
        background: none;
        border: 0.04rem solid #ff4400;
        border-radius: 0.08rem;
        .font-dpr(14px);
        color: #ff4400;
        font-weight: bold;
        float: right;
        &:disabled {
            color: #a5a5a5;
            border: 0.04rem solid #a5a5a5;
            padding: 0 0.6rem;
        }
    }
    .shopping_cart{
        padding: 0 0.3rem;
        border-color: white;
        color: white;
        margin-right: 0.3rem;
    }
    /* 活动 购买按钮 */
    /*.activity_btn{
        line-height: .8rem;
        margin-top: .405rem;
        border: .04rem solid #af0001;
        background-color: #af0001;
        border-radius: .08rem;
        float: left;
        padding: 0 .84rem;
        color: #fff;
        .font-dpr(15px);
        margin-left: 0.2rem;
    }*/
    .activity_experience{
        line-height: .8rem;
        margin-top: .405rem;
        border: .04rem solid #af0001;
        border-radius: .08rem;
        font-weight: 700;
        float: right;
        padding: 0 .7rem;
        color: #af0001;
        .font-dpr(16px);
    }
    .download{
        border-color: #f40;
        color: #f40;
        padding: 0 0.6rem;
        margin-right: 0.3rem;
    }
    .activity1{
        width: 56%;
        position: absolute;
        top: 50%;
        z-index: 99;
        right: -56%;
        animation: activityFromRightToCenter 1s;
        animation-fill-mode: forwards;
        height: 5.2rem;
    }
    .infinite{
        width: 100%;
        position: absolute;
    }
    .activity2{
        position: absolute;
        z-index: 100;
        width: 72%;
        top: 50%;
        right: 0;
    }
}
    /* 点赞 */
    .praise {
        border-bottom: 0.2rem solid #F5F5F5;
        padding-bottom: 0.46rem;
        .hs-cf;
        .header {
            color: #878787;
            height: 1.173333rem;
            position: relative;
            margin: 0 0.333333rem;
            padding: 0;
            &:after {
                position: absolute;
                width: 100%;
                height: 1px;
                top: 50%;
                left: 0;
                content: "";
                border-top: 0.013rem solid rgba(153,153,153,0.3);
            }
            h2 {
                .font-dpr(14px);
                z-index: 10;
                color: #878787;
                position: absolute;
                display: block;
                background-color: #fff;
                .hs-cf;
                line-height: 1.15rem;
                height: 1.15rem;
                left: 50%;
                padding: 0 .4rem;
                top: 1px;
                text-align: center;
                transform: translateX(-50%);
            }
        }
        /* 点赞列表 */
        .like_list{
            display: flex;
            justify-content: space-between;
            padding: 0 0.334rem;
            a {
                display: block;
                width: 1rem;
                height: 1rem;
                background-repeat: no-repeat;
                -webkit-background-size: cover;
                border-radius: 50%;
                position: relative;
            }
            .external{
                background-image: url(//img8.ontheroadstore.com/upload/180117/e2cf78b9c74f2d82053afd2b842ad7a7.png);
            }
            .praise_btn{
                background: none;
                text-align: center;
            }
            .praise_btn:after{
                content: "\e614";
                .font-dpr(20px);
                line-height: 1rem;
                text-align: center;
            }
            .praise_btn_success:after{
                content: "\e649";
                .font-dpr(20px);
                line-height: 1rem;
                text-align: center;
                color: #E03B29;
            }
            .success{
                color: #E03B29;
            }
            .more:after{
                content: "";
                background-image: url(//img8.ontheroadstore.com/upload/171227/0b340ed9beec108febe3397c7037ae15.png);
                background-size: 100% 100%;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                border-radius: 50%;
            }
        }
    }
    /*评论*/
    .comment{
        margin: 0 0.334rem;
        padding-bottom: 2rem;
        h2{
            padding: 0.42rem 0;
            .font-dpr(15px);
            line-height: 0.64rem;
            position: relative;
            padding-left: 0.4rem;
            font-weight: 700;
            &:after{
                content: "";
                position: absolute;
                left: 0;
                height: 0.64rem;
                width: 0.16rem;
                background-color: black;
            }
        }
        .comment-btn{
            margin-bottom: 0.4rem;
            text-align: center;
            .font-dpr(13px);
            line-height: 0.9rem;
            color: #919191;
            background: #ECECEC;
            border-radius: 0.08rem;
            .hs-icon:after{
                content: '\e61a';
                margin-right: 0.3rem;
            }
        }
        .comment_all{
            padding: 0.46rem 0;
            text-align: center;
            .font-dpr(15px);
            display: none;
            color: #000;
            border-top: 0.013rem solid rgba(153,153,153,0.3);
        }
    }

/*类型选择*/
.select {
    position: absolute;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.8); 
    z-index: 1000;
    display: none;
    .select_main {
        position: absolute;
        bottom: 0;
        width: 100%;
        .close_select{
            width: 9.4rem;
            height: 0.92rem;
            color: white;
            padding: 0 0.3rem;
            line-height: 0.92rem;
            .font-dpr(14px);
            text-align: right;
            background-color: black;
        }
        ul{
            background-color: white;
            padding: 0 0.3rem;
            li{
                border-bottom: 0.013rem solid rgba(153,153,153,0.3);
                height: 1.62rem;
                padding-top: 0.24rem;
                position: relative;
                strong{
                    .font-dpr(16px);
                    display: block;
                }
                span{
                    .font-dpr(14px);
                    position: absolute;
                    bottom: 0.24rem;
                    left: 0;
                    text-align: left;
                    color: #d71f1f;
                }
                .close-repertory{
                    color: #7c7c7c;
                }
                div{
                    position: absolute;
                    width: 0.18rem;
                    height: 0.18rem;
                    border:0.05rem solid #E03B29;
                    border-radius: 50% 50%;
                    right: 0;
                    top: 48%;
                    transform: translateY(-50%);
                    &.active{
                        background: #E03B29;
                    }
                }
                .no_repertory{
                    border-color: rgba(211,211,211,.5);
                }
                .repertory{
                    color:#4f4f4f;
                    left: 46%;
                }
                &:last-child{
                    border-bottom: none;
                }
            }
        }
        .now_buy{
            width: 9.4rem;
            height: 1.31rem;
            color: white;
            padding: 0 0.3rem;
            line-height: 1.31rem;
            .font-dpr(14px);
            text-align: center;
            background-color: #E03B29;
            display: block;
        }
    }

}
.prompt{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background: rgba(0,0,0,0.8);
    left: 0;
    top: 0;
    display: none;
}
.prompt_box{
    padding:0.3rem;
    position: absolute;
    width: 4.2rem;
    right: 0.42rem;
    top: 1.3rem;
    background-image: url('../img/prompt_box.png');
    background-repeat: no-repeat;
    background-size: 100%;
    div{
        color: #68be8c;
        .font-dpr(13px);
        .font-line-height(20px);
        margin: 0.25rem 0 0.3rem 0;
    }
    button{
        .font-dpr(13px);
        background-color: #68be8c;
        padding: 0.13rem;
        border: none;
        color: black;
        margin: 0.06rem 0 0.3rem 0;
    }
}
}

@media screen and (max-width: 640px) {
    .buy .buy_btn{
        .font-dpr(12px) !important;
    }
}
@keyframes activityFromRightToCenter {
    0% {
        right: -56%;
    }
    68% {
        right: 0;
    }
    100% {
        right: -3%;
    }
}