<div class="chat_list">
  <ul>
    <li class="others">
      <span class="date">10分钟前</span>
      <span class="avatar" style="background-image:url(http://placeholder.qiniudn.com/108x108)"></span>
      <div class="content">撒上大时代撒上大时代撒上大时代撒上大时代撒上大时代撒上大时代撒上大时代撒上大时代撒上大时代撒上大时代撒上大时代</div>
    </li>
    <li class="me">
      <span class="date">10分钟前</span>
      <span class="avatar" style="background-image:url(http://placeholder.qiniudn.com/108x108)"></span>
      <div class="content">撒上大时代撒上大时代撒上大时代撒上大时代</div>
    </li>
    <li class="me">
      <span class="date">10分钟前</span>
      <span class="avatar" style="background-image:url(http://placeholder.qiniudn.com/108x108)"></span>
      <div class="content">撒上大时代撒上大时代撒上大时代撒上大时代</div>
    </li>
    <li class="me">
      <span class="date">10分钟前</span>
      <span class="avatar" style="background-image:url(http://placeholder.qiniudn.com/108x108)"></span>
      <div class="content">撒上大时代撒上大时代撒上大时代撒上大时代</div>
    </li>
    <li class="others">
      <span class="date">10分钟前</span>
      <span class="avatar" style="background-image:url(http://placeholder.qiniudn.com/108x108)"></span>
      <div class="content">撒代撒上大时代</div>
    </li>
    <li class="me">
      <span class="date">10分钟前</span>
      <span class="avatar" style="background-image:url(http://placeholder.qiniudn.com/108x108)"></span>
      <div class="content">撒上大时代撒上大时代撒上大时代撒上大时代</div>
    </li>
    <li class="others">
      <span class="date">10分钟前</span>
      <span class="avatar" style="background-image:url(http://placeholder.qiniudn.com/108x108)"></span>
      <div class="content">撒代撒上大时代</div>
    </li>
    <li class="others">
      <span class="date">10分钟前</span>
      <span class="avatar" style="background-image:url(http://placeholder.qiniudn.com/108x108)"></span>
      <div class="content">撒代撒上大时代</div>
    </li>
    <li class="others">
      <span class="date">10分钟前</span>
      <span class="avatar" style="background-image:url(http://placeholder.qiniudn.com/108x108)"></span>
      <div class="content">撒代撒上大时代</div>
    </li>
    <li class="others">
      <span class="date">10分钟前</span>
      <span class="avatar" style="background-image:url(http://placeholder.qiniudn.com/108x108)"></span>
      <div class="content">撒代撒上大时代</div>
    </li>
  </ul>
</div>
