/*私信详情*/
.chat {
  .hs-main{
    transition: all 0.3s;
  }
  .store{
    height: 1.173rem;
    background: #FFF;
    width: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    .user_name{
      .font-dpr(14px);
      line-height: 1.17rem;
      padding-left: 0.32rem;
    }
    .user_store{
      .font-dpr(13px);
      color: #F9F9F9;
      width: 1.147rem;
      height: 0.507rem;
      // border-radius: 0.507rem;
      // background: #AE2121;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0.32rem;
      // line-height: 0.507rem;
      width: .6rem;
      height: .6rem;
      background: url(http://img8.ontheroadstore.com/H5_Icon/shop_210129.png) no-repeat center center;
      background-size: cover;
      // text-align: center;
    }
  }
  .warming_tips{
    transition-duration: 1s;
    .font-dpr(12px);
    color: #fff;
    background: #0302FC;
    position: relative;
    z-index: 100;
    top: 1rem;
    padding: .3rem 0;
    p{
      text-align: center;
    }
  }
  .reply_content{
    min-height: 1.306rem;
    width: 10rem;
    position: absolute;
    bottom: 0;
    z-index: 11;
    background: #FFF;
    .reply_input{
      height: 1.306rem;
      width: 10rem;
      .hs-cf;
      .reply_text{
        border: none;
        float: left;
        width: 6.75rem;
        height: 0.8rem;
        .font-dpr(14px);
        background: #F5F5F5;
        padding-left: 0.4rem;
        border-radius: 0.1rem;
        margin-top: 0.253rem;
      }
      .uploading{
        float: left;
        display: block;
        width: 0.64rem;
        height: 0.64rem;
        margin-top: 0.33rem;
        .font-dpr(20px);
        text-align: center;
        line-height: 0.64rem;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
        position: relative;
        &:after{
          content: '\e65c';
        }
      }
      .submit{
        position: absolute;
        top: 0.33rem;
        right: 0.4rem;
        .font-dpr(20px);
        text-align: center;
        line-height: 0.64rem;
        &:after{
          content: '\e663';
        }
        &.underway{
          color: #E8E8E8;
        }
      }
    }
    .uploader{
      top: 3rem;
      left: 0.613rem;
      position: absolute;
      width: 1.6rem;
      height: 2rem;
      z-index: 99;
      opacity: 0;
    }
    .more{
      height: 0;
      transition: all 0.3s;
      overflow: hidden;
      .more_select{
        border-top: 0.0133rem solid #E8E8E8;
        padding: 1.76rem 0.613rem 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        .bts{
          width: 1.6rem;
          position: relative;
          .hs-icon{
            .font-dpr(22px);
            width: 1.6rem;
            height: 1.6rem;
            box-sizing: border-box;
            border-radius: 0.16rem;
            border: 0.0133rem solid #E8E8E8;
            line-height: 1.6rem;
            text-align: center;;
          }
          &.image .hs-icon:after{
            content: '\e657';
          }
          &.order .hs-icon:after{
            content: '\e658';
          }
          &.history .hs-icon:after{
            content: '\e65b';
          }
          &.complain .hs-icon:after{
            content: '\e65a';
          }
          .title{
            .font-dpr(13px);
            text-align: center;
            margin-top: 0.16rem;
            line-height: 0.48rem;
          }
        }
      }
    }
  }
  .report_form{
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    .report_content{
      background: #FFF;
      .font-dpr(14px);
      padding: 0.28rem 0.3rem;
      textarea{
        display: block;
        border: none;
        resize: none;
        font-size: 0.4rem;
        width: 100%;
      }
      .report_keywords{
        float: left;
        .report_form_keyword{
          padding: 0.3rem .44rem;
          margin-top: 0.5rem;
          display: inline-block;
        }
      }
      .btns{
        text-align: right;
        .report_form_close{
          padding: 0.3rem .44rem;
          color: #9d9d9d;
          border-radius: 3px;
          margin-top: 0.5rem;
          display: inline-block;
        }
        .report_form_sub{
          padding: 0.3rem .44rem;
          background-color: #AE2121;
          color: #fff;
          border-radius: 0.1rem;
          display: inline-block;
        }
      }
    }
  }
  .hs-main{
    background-color: #F5F5F5;
    .chat_list{
      top: 0;
      .no_more{
        height: 0;
        width: 10rem;
      }
      ul {
        padding: 0.6rem 0.32rem 0;
        li {
          padding-top: 0.293333rem;
          width: 100%;
          .hs-cf;
          &:last-child {
            padding-bottom: 0.293333rem;
          }
          .avatar{
            width: .933rem;
            height: .933rem;
          }
          .content_bd{
            .font-dpr(13px);
            max-width: 5.98rem;
            padding: 0.21rem .27rem;
            // border-radius: 0.08rem;
            margin-top: 0;
            position: relative;
            word-wrap: break-word;
            color: #151515;
            // &:after {
            //   content: '';
            //   position: absolute;
            // }
          }
          .date{
            .font-dpr(12px);
            transform: scale(0.8);
            color: #8E8E8E;
            display: block;
            width: 8.8rem;
            clear: both;
            margin: 0 auto;
          }
          &.me{
            .content_bd_1{
              padding: 0;
              float: right;
              margin-right: .21rem;
             .image {
               width: 6.2rem;
               height: 6.2rem;
               border-radius: 0.16rem 0 .16rem .16rem;
               background-position: 50% 50%;
               background-repeat: no-repeat;
               -webkit-background-size: cover;
             }
            }
            .avatar{
              background-image: url(//dev.ontheroadstore.com/tpl/simplebootx_mobile/Public/images/headicon_128.png);
              float:right;
            }
            .content_bd{
              background-color: #E8E8E8;
              float:right;
              margin-right: 0.21rem;
              color: #151515;
              border-radius: 0.16rem 0 .16rem .16rem;
              &:after{
                right: -0.3rem;
                top: 0.26rem;
                border-top: 0.3rem solid transparent;
                border-left: 0.4rem solid #E8E8E8;
                border-bottom: 0.3rem solid transparent;
              }
            }
            .date{
              text-align: right;
            }
          }
          &.user{
            .content_bd_1{
              padding: 0;
              float: left;
              margin-left: .21rem;
             .image {
               width: 6.2rem;
               height: 6.2rem;
               border-radius:  0 .16rem .16rem 0.16rem;
               background-position: 50% 50%;
               background-repeat: no-repeat;
               -webkit-background-size: cover;
             }
            }
            .avatar{
              background-image: url(//dev.ontheroadstore.com/tpl/simplebootx_mobile/Public/images/headicon_128.png);
              float:left;
            }
            .content_bd{
              background-color: #FFF;
              float:left;
              margin-left: 0.21rem;
              color: #151515;
              border-radius: 0 .16rem .16rem 0.16rem;
              &:after{
                left: -0.3rem;
                top: 0.26rem;
                border-top: 0.3rem solid transparent;
                border-right: 0.4rem solid #FFF;
                border-bottom: 0.3rem solid transparent;
              }
            }
            .date{
              text-align: left;
            }
          }
        }
      }
    }
  }
}

