/*抽奖活动规则*/
.lottery_rule {
  background: #F2F2F2;
  .hs-page {
    background: #F2F2F2;

    .lottery_rule_wrap{
      padding: 0.4rem 0.4rem 1.36rem 0.4rem;
      .lottery_rule_ul{
        li{
          margin-bottom: 0.4rem;
          padding: 0.53333rem;
          background-color: #fff;
          .title{
            color: #202123;
            font-size: 0.42667rem;
            line-height: 1;
            padding-bottom: 0.4rem;
            font-family:PingFangSC-Semibold;
            font-weight:600;
          }
          .text{
            color: #8E8E8E;
            font-size: 0.37333rem;
            font-family:PingFangSC-Regular;
            font-weight:400;
            line-height: 0.48rem;
          }
        }
      }

      //apple声明
      .lottery_apple_tip{
        font-size: 0.26667rem;
        color: #8e8e8e;
        line-height: 1;
        margin-top: 0.4rem;
        text-align: center;
        opacity: 0.8;
        display: none;
      }

    }

  }

}