<div class="seller_list_bd hs-page content pull-to-refresh-content">
  <div class="pull-to-refresh-layer">
    <div class="preloader"></div>
    <div class="pull-to-refresh-arrow"></div>
  </div>
  <ul>
    <li>
      <span class="date">2016年2月23日</span>
      <div class="info">
        <div class="cover">
          <a href="#">
            <div class="image" data-layzr="http://placeholder.qiniudn.com/108x108" data-layzr-bg></div>
            <h3>后海大鲨鱼“心要野”全国巡演部分场次信息变更</h3>
          </a>
        </div>
        <div class="single">
          <a href="#">
            <h3>后海大鲨鱼“心要野”全国巡演部分场次信息变更</h3>
            <div class="image" data-layzr="http://placeholder.qiniudn.com/108x108" data-layzr-bg></div>
          </a>
        </div>
        <div class="single">
          <a href="#">
            <h3>后海大鲨鱼“心要野”全国巡演部分场次信息变更</h3>
            <div class="image" data-layzr="http://placeholder.qiniudn.com/108x108" data-layzr-bg></div>
          </a>
        </div>
        <div class="single">
          <a href="#">
            <h3>后海大鲨鱼“心要野”</h3>
            <div class="image" data-layzr="http://placeholder.qiniudn.com/108x108" data-layzr-bg></div>
          </a>
        </div>
      </div>
    </li>
    <li>
      <span class="date">2016年2月23日</span>
      <div class="info">
        <div class="cover">
          <a href="#">
            <div class="image" data-layzr="http://placeholder.qiniudn.com/108x108" data-layzr-bg></div>
            <h3>后海大鲨鱼“心要野”全国巡演部分场次信息变更</h3>
          </a>
        </div>
        <div class="single">
          <a href="#">
            <h3>后海大鲨鱼“心要野”全国巡演部分场次信息变更</h3>
            <div class="image" data-layzr="http://placeholder.qiniudn.com/108x108" data-layzr-bg></div>
          </a>
        </div>
        <div class="single">
          <a href="#">
            <h3>后海大鲨鱼“心要野”全国巡演部分场次信息变更</h3>
            <div class="image" data-layzr="http://placeholder.qiniudn.com/108x108" data-layzr-bg></div>
          </a>
        </div>
        <div class="single">
          <a href="#">
            <h3>后海大鲨鱼“心要野”</h3>
            <div class="image" data-layzr="http://placeholder.qiniudn.com/108x108" data-layzr-bg></div>
          </a>
        </div>
      </div>
    </li>
  </ul>
  <script type="text/x-handlebars-template" id="seller_list_tpl">
  </script>
</div>
