// 发布
.add {

  .hs-footer {
    .submit {
      color: #fff;
      background-color: #68be8c;
      border:none;
      .font-dpr(16px);
      width: 100%;
      display: block;
      text-align: center;
      padding: 0.466667rem 0;
    }
  }
  .add_bd {
    width: 9.12rem;
    padding: 0 0.44rem;
    .item {
      &.title {
        padding-bottom: 0.36rem;
        border-bottom: 0.013333rem solid rgba(211, 211, 211, .5);
        .hs-cf;
      }
      &:nth-child(1){
        padding-top: .44rem;
      }
      &:last-child {
        padding-top: .44rem;
        padding-bottom: .44rem;
      }
      &.input {
        label {
          .font-dpr(16px);
          color: #383838;
          width: 1.02rem;
          display:block;
          float: left;
          border:none;
        }
        input {
          width: 7.5rem;
          border:none;
          .font-dpr(16px);
          float: right;
          color: #383838;
        }
      }
      &.description {
        padding:0.44rem 0;
        textarea {
          .font-dpr(16px);
          width: 100%;
          color: #383838;
          border:none;
        }
      }
      &.images {
       padding-bottom: 0.36rem;
       &:after {
        content: "";
        width: 10rem;
        left: 0;
        position: absolute;
        border-bottom: 0.16rem solid rgba(211, 211, 211, .5);
        padding-bottom: 0.2rem;
      }
      ul {
        width: 10rem;
        .hs-cf;
        li {
          width: 2.11rem;
          height: 2.08rem;
          float: left;
          border: 0.04rem solid rgba(211, 211, 211, .5);
          border-radius: 4px;
          margin-right: 0.12rem;
          margin-bottom: 0.12rem;
          color: #eee;
          overflow: hidden;
          text-align: center;
          position:relative;
          img {
            width: 100%;
            height: 100%;
            z-index: 100;
            position: absolute;
            left: 0;
            top: 0;
          }
          input[type="file"] {
            width: 2.11rem;
            height: 2.08rem;
            position: absolute;
            display: block;
            z-index: 999;
            top: 0;
            left: 0;
            opacity: 0;
          }
          .remove_btn {
            position: absolute;
            top: 0;
            right: 0;
            background: none;
            border: none;
            z-index: 9999;
            &:after {
              content: 'x';
            }
          }
          .image {
            width: 2.11rem;
            height: 2.08rem;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            &:after {
              content: "+";
              line-height: 2.08rem;
              .font-dpr(60px);
              position: absolute;
              top: 0;
              left: 0;
              z-index: 99;
              width: 100%;
            }
            .progress {
              position: absolute;
              bottom: 0;
              left: 0;
              overflow: hidden;
              width: 100%;
              height: .16rem;
              background-color: #e2e2e2;
              box-sizing: border-box;
              z-index: 9999;
              span {
                display: block;
                width: 0;
                background: #65d521;
                height: 100%;
                font-size: 0;
              }
            }
          }
          &.cover {
            position: relative;
            &:before {
              position: absolute;
              .font-dpr(42px);
              .font-line-height(42px);
              content: "\e618";
              top: 0;
              left: 0;
              color: #68be8c;
              z-index: 9999;
            }
            .image:after {
              content: "\e617";
            }
          }
          &:nth-child(4){
            margin-right: 0;
          }
          &:nth-child(8){
            margin-right: 0;
          }
          &:nth-child(12){
            margin-right: 0;
          }
          &:nth-child(16){
            margin-right: 0;
          }
        }
      }
    }
    &.price,&.postage,&.number{
      padding: 0.36rem 0;
      border-bottom: 0.013333rem solid rgba(211, 211, 211, .5);
      .hs-cf;
      position: relative;
    }
    &.price:before,&.postage:before {
      content: "¥";
      position: absolute;
      right: 0;
      .font-dpr(22px);
      color: #afafaf;
    }
    &.number {
      border-bottom: none;
    }
    &.tags {
      button {
       .font-dpr(16px);
       border:none;
       background-color: #dcdcdc;
       color: #fff;
       border-radius: 2px;
       padding: 0.16rem 0.12rem;
       margin-right: 0.16rem;
       margin-bottom: 0.2rem;
       &.active {
        background-color: #68be8c;
      }
    }
    label {
      display: block;
      .font-dpr(16px);
      color: #c0c0c0;
    }
  }
}
}
}
