<div class="store_list">
    <ul>
        <li>
            <a href="store_show.html">
                <div class="image" data-layzr="http://media.firebox.com/i/home/feature/2x2/bb8-desert2.jpg" data-layzr-bg></div>
                <div class="info">
                    <span class="classify">摆摊</span>
                    <div class="tags">
                        <span>#淘宝没有的</span>
                        <span>#全球精选</span>
                    </div>
                </div>
                <h2 class="title">感受黑色气味，dabomb香薰蜡烛感受黑色气味气味...
                    <div class="date">
                        <span><i>icon</i>11小时前</span>
                        <span><i>icon</i>45454</span>
                    </div>
                </h2>
            </a>
        </li>
        <li>
            <a href="store_show.html">
                <div class="image" data-layzr="http://media.firebox.com/i/home/feature/2x2/bb8-desert2.jpg" data-layzr-bg></div>
                <div class="info">
                    <span class="classify">摆摊</span>
                    <div class="tags">
                        <span>#淘宝没有的</span>
                        <span>#全球精选</span>
                    </div>
                </div>
                <h2 class="title">感受黑色气味，dabomb香薰蜡烛感受黑色气味，dabomb香薰蜡烛
                    <div class="date">
                        <span><i>icon</i>11小时前</span>
                        <span><i>icon</i>45454</span>
                    </div>
                </h2>
            </a>
        </li>
        <li>
            <a href="store_show.html">
                <div class="image" data-layzr="http://media.firebox.com/i/home/feature/2x2/bb8-desert2.jpg" data-layzr-bg></div>
                <div class="info">
                    <span class="classify">摆摊</span>
                    <div class="tags">
                        <span>#淘宝没有的</span>
                        <span>#全球精选</span>
                    </div>
                </div>
                <h2 class="title">感受黑色气味，dabomb香薰蜡烛感受黑色
                    <div class="date">
                        <span><i>icon</i>11小时前</span>
                        <span><i>icon</i>45454</span>
                    </div>
                </h2>
            </a>
        </li>
        <li>
            <a href="store_show.html">
                <div class="image" data-layzr="http://media.firebox.com/i/home/feature/2x2/bb8-desert2.jpg" data-layzr-bg></div>
                <div class="info">
                    <span class="classify">摆摊</span>
                    <div class="tags">
                        <span>#淘宝没有的</span>
                        <span>#全球精选</span>
                    </div>
                </div>
                <h2 class="title">感受黑色气味，dabomb香薰蜡烛感受黑色气味，dabomb香薰蜡烛
                    <div class="date">
                        <span><i>icon</i>11小时前</span>
                        <span><i>icon</i>45454</span>
                    </div>
                </h2>
            </a>
        </li>
        <li>
            <a href="store_show.html">
                <div class="image" data-layzr="http://media.firebox.com/i/home/feature/2x2/bb8-desert2.jpg" data-layzr-bg></div>
                <div class="info">
                    <span class="classify">摆摊</span>
                    <div class="tags">
                        <span>#淘宝没有的</span>
                        <span>#全球精选</span>
                    </div>
                </div>
                <h2 class="title">感受黑色气味，dabomb香薰蜡
                    <div class="date">
                        <span><i>icon</i>11小时前</span>
                        <span><i>icon</i>45454</span>
                    </div>
                </h2>
            </a>
        </li>
    </ul>
</div>
