<div class="store_list">
    <ul>
        <li class="color1">
            <a href="store_show.html">
                <h2 class="title">感受黑色气味，dabomb香薰蜡烛</h2>
                <div class="attr">
                    <div class="tag">摆摊</div>
                    <div class="date">
                        <span><i>icon</i>11小时前</span>
                        <span><i>icon</i>45454</span>
                    </div>
                </div>
                <div class="image" data-layzr="http://media.firebox.com/i/home/feature/2x2/bb8-desert2.jpg" data-layzr-bg></div>
                <div class="description">Taste square 联名的啊啊啊啊啊啊的空间阿莱克斯的快乐健康拉萨洒落大家来看速度撒地方是短发短发水电费</div>
            </a>
        </li>
        <li class="color2">
            <a href="store_show.html">
                <h2 class="title">感受黑色气味，dabomb香薰蜡烛</h2>
                <div class="attr">
                    <div class="tag">摆摊</div>
                    <div class="date">
                        <span><i>icon</i>11小时前</span>
                        <span><i>icon</i>45454</span>
                    </div>
                </div>
                <div class="image" data-layzr="http://media.firebox.com/i/home/feature/2x2/bb8-desert2.jpg" data-layzr-bg></div>
                <div class="description">Taste square 联名的啊啊啊啊啊啊的空间阿莱克斯的快乐健康拉萨洒落大家来看速度撒地方是短发短发水电费</div>
            </a>
        </li>
        <li class="color1">
            <a href="store_show.html">
                <h2 class="title">感受黑色气味，dabomb香薰蜡烛感受黑色气味，dabomb香薰蜡烛感受黑色气味，dabomb香薰蜡烛感受黑色气味，dabomb香薰蜡烛</h2>
                <div class="attr">
                    <div class="tag">摆摊</div>
                    <div class="date">
                        <span><i>icon</i>11小时前</span>
                        <span><i>icon</i>45454</span>
                    </div>
                </div>
                <div class="image" data-layzr="http://media.firebox.com/i/home/feature/2x2/bb8-desert2.jpg" data-layzr-bg></div>
                <div class="description">Taste square 联名的啊啊啊啊啊啊的空间阿莱克斯的快乐健康拉萨洒落大家来看速度撒地方是短发短发水电费</div>
            </a>
        </li>
        <li class="color2">
            <a href="store_show.html">
                <h2 class="title">感受黑色气味，dabomb香薰蜡烛</h2>
                <div class="attr">
                    <div class="tag">摆摊</div>
                    <div class="date">
                        <span><i>icon</i>11小时前</span>
                        <span><i>icon</i>45454</span>
                    </div>
                </div>
                <div class="image" data-layzr="http://media.firebox.com/i/home/feature/2x2/bb8-desert2.jpg" data-layzr-bg></div>
                <div class="description">Taste square 联名的啊啊啊啊啊啊的空间阿莱克斯的快乐健康拉萨洒落大家来看速度撒地方是短发短发水电费</div>
            </a>
        </li>
        <li class="color1">
            <a href="store_show.html">
                <h2 class="title">感受黑色气味，dabomb香薰蜡烛</h2>
                <div class="attr">
                    <div class="tag">摆摊</div>
                    <div class="date">
                        <span><i>icon</i>11小时前</span>
                        <span><i>icon</i>45454</span>
                    </div>
                </div>
                <div class="image" data-layzr="http://media.firebox.com/i/home/feature/2x2/bb8-desert2.jpg" data-layzr-bg></div>
                <div class="description">Taste square 联名的啊啊啊啊啊啊的空间阿莱克斯的快乐健康拉萨洒落大家来看速度撒地方是短发短发水电费</div>
            </a>
        </li>
        <li class="color2">
            <a href="store_show.html">
                <h2 class="title">感受黑色气味，dabomb香薰蜡烛</h2>
                <div class="attr">
                    <div class="tag">摆摊</div>
                    <div class="date">
                        <span><i>icon</i>11小时前</span>
                        <span><i>icon</i>45454</span>
                    </div>
                </div>
                <div class="image" data-layzr="http://media.firebox.com/i/home/feature/2x2/bb8-desert2.jpg" data-layzr-bg></div>
                <div class="description">Taste square 联名的啊啊啊啊啊啊的空间阿莱克斯的快乐健康拉萨洒落大家来看速度撒地方是短发短发水电费</div>
            </a>
        </li>
    </ul>
</div>
