// 商品列表
.store_list {
    ul {
        li {
            border-bottom: 0.4rem solid rgba(241, 241, 241, 1);
            a {
                display: block;
                color: #212121;
                .image {
                    width: 100%;
                    height: 4.973333rem;
                    background-image: url('../img/index_loading.gif');
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                .info {
                    .hs-cf;
                    padding: 0.17rem 0.34rem 0.1rem 0.34rem;
                    .classify {
                        background-color: #6ac18e;
                        color: #fff;
                        padding:0.11rem 0.16rem;
                        display: block;
                        float: left;
                        .font-dpr(14px);
                        border-radius: 3px;
                    }
                    .tags {
                        float: right;
                        padding:0.14rem 0;
                        span {
                            color: #6ac18e;
                            .font-dpr(14px);
                            margin-left: 0.293333rem;
                        }
                    }
                }
                .title {
                    .font-dpr(18px);
                    .font-line-height(24px);
                    font-weight: bold;
                    padding: 0 0.34rem;
                }
                .date {
                    .font-dpr(14px);
                    .font-line-height(14px);
                    padding: 0.14rem 0.34rem 0.2rem 0.34rem;

                    color: #b7b7b7;
                    .hs-cf;
                    .time {
                        float: left;
                    }
                    .icon {
                       float: right;
                       span {
                           .font-dpr(13px);
                           text-align: left;
                           margin-left: 0.28rem;
                           .font-line-height(18px);
                           i {
                            margin-right: 0.14rem;
                            font-style: normal;
                            .font-dpr(18px);
                            &.views:before {
                                content: "\e60f";
                            }
                            &.comments:before {
                                content: "\e60e";
                            }
                            &.praises:before {
                                content: "\e60d";
                            }
                        }
                    }
                }
            }
        }
    }
}
}
