// 商品列表
.store_list,.user_favorite,.search_list{
    /*banner移到首页未添加*/
    .banner {
      width: 10rem;
      height: 5.61rem;
      padding-bottom: 0 !important;
      .swiper-pagination {
        bottom: 0.2rem;
        .swiper-pagination-bullet {
          background-color: #fff;
          opacity: .4;
          width: 0.2rem;
          height: 0.2rem;
        }
        .swiper-pagination-bullet-active {
          background-color: #fff;
          opacity: 1;
        }
      }
      .swiper-slide a {
        display: block;
        width: 10rem;
        height: 5.61rem;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .classification {
      background-color: #fff;
      width:9.68rem;
      padding:0.12rem 0.16rem;
      /*display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: space-around;*/
      overflow: hidden;
      height: 2rem;
      .hs-cf;
      a {
        height: 2rem;
        width: 20%;
        float: left;
        /*-webkit-box-flex: 1.0;
        -moz-flex-shrink: 1;
        -webkit-flex-shrink: 1;
        flex-shrink: 1;
        -webkit-box-ordinal-group: 1;
        -moz-order: 1;
        -webkit-order: 1;
        order: 1;*/
        color: #000;
        margin-bottom: 0.2rem;
        img {
          width: 50%;
          display: block;
          margin: 0 auto;
        }
        div{
            .font-dpr(13px);
            width: 100%;
            text-align: center;
            margin-top: 10%;
            white-space: nowrap;
        }
      }
    }
    /*商品列表*/
    ul {
        li {
            border-bottom: 1px solid #dcdcdc;
            border-width: 0.4rem;
            .hs-cf;
            &:last-child {
                border: none;
            }
            a {
                display: block;
                color: #212121;
                .image {
                    width: 100%;
                    height: 4.973333rem;
                    background-image: url('../img/index_loading.gif');
                    background-color: #000;
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: 100%;
                }
                .title {
                    .font-dpr(18px);
                    .font-line-height(24px);
                    font-weight: bold;
                    padding: 0.24rem 0.34rem;
                }
                .date {
                    .font-dpr(14px);
                    .font-line-height(14px);
                    padding: 0 0.34rem 0.24rem 0.34rem;
                    color: #b7b7b7;
                    .classify {
                        background-color: #6ac18e;
                        color: #fff;
                        padding:0 0.16rem;
                        line-height: 0.56rem;
                        height: 0.56rem;
                        display: block;
                        float: left;
                        .font-dpr(14px);
                        border-radius: 3px;
                    }
                    .hs-cf;
                    .time {
                        float: left;
                    }
                    .icon {
                     float: right;
                     line-height: 0.56rem;
                     span {
                         .font-dpr(12px);
                         text-align: left;
                         margin-left: .28rem;
                         position: relative;
                         padding-left: .7rem;
                         display: block;
                         float: left;
                         text-align: right;
                         i {
                            font-style: normal;
                            font-size: 0.3456rem;
                            position: absolute;
                            left: 0;
                            &.views:before {
                                content: "\e60f";
                            }
                            &.comments:before {
                                content: "\e60e";
                            }
                            &.praises:before {
                                content: "\e60d";
                            }
                        }
                    }
                }
            }
        }
    }
    .nofavorite{
        .font-dpr(18px);
        position: absolute;
        top: 45%;
        text-align: center;
        width: 100%;
    }
}
.pages{
    border-top: 1px solid #000;
    border-width: 0.03rem;
    padding:0.4rem 0.34rem;
    .hs-cf;
    text-align: center;
    a {
        float: left;
        display: block;
        width: 0.94rem;
        height: 0.94rem;
        line-height: 0.98rem;
        border: 1px solid #000;
        border-width: 0.04rem;
        margin-left: 0.16rem;
        color: #000;

        .font-dpr(16px);
        &:first-child{
            margin-left: 0;
        }
        &.active {
            background-color: #000;
            color: #fff;
            font-weight: bold;
        }
        &.not {
            color: #ddd;
            border-color: #ddd;
        }
    }
}
}
.search_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    .search_box_bd {
        background-color: #1b181f;
        padding: 0.2rem 0.4rem;
        .hs-cf;
        input {
            width: 6.5rem;
            float: left;
            border: none;
            padding: 0.24rem;
            .font-dpr(14px);
        }
        button {
            width: 1.8rem;
            float: right;
            border: none;
            background-color: #6ac18e;
            padding: 0.24rem;
            .font-dpr(14px);
            color: #fff;
        }
    }
}
.hint_purchase{
    display: none;
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    top: 0;
    .store_details{
        width: 69%;
        height: 54%;
        margin: 25% 13.5% 0;
        padding: 2%;
        position: relative;
        background-color: #fff;
        img{
            width: 100%;
            display: block;
        }
        .hr{
            background-image: url('/tpl/heishiv2_mobile/Public/img/hr.png');
            display: block;
            width: 2.5rem;
            height: 0.2rem;
            margin: 0.4rem 0;
            background-repeat: no-repeat;
            background-size: 100%;
        }
        h3{
            .font-dpr(14px);
            line-height: 1.5em;
        }
        .btn{
            width: 96%;
            height: 1.07rem;
            background-color: #6ac18e;
            color: #fff;
            .font-dpr(14px);
            position: absolute;
            bottom: 2%;
            left: 2%;
            border: none;
        }
    }
    .close{
        margin: 0.8rem auto;
        width: 0.76rem;
        height: 0.76rem;
        background: none;
        display: block;
        position: relative;
        background-image: url('/tpl/heishiv2_mobile/Public/img/close.png');
        background-size: 100%;
        border: none;
    }
}