.logistique{
  .logistique_bd{
    padding: 0.4rem;
    .goods{
      padding-bottom: 0.4rem;
      border-bottom: 0.0133rem solid #E8E8E8;
      p{
        .font-dpr(14px);
        line-height: 2.5em;
      }
      .express_status{
        .font-dpr(14px);
        line-height: 1.5em;
        font-weight: 500;
      }
    }
    .receipt{
      padding:0.2rem 0;
      margin-top: 0.2rem;
      .express_check{
        .font-dpr(15px);
        position: relative;
        li{
          width: 9.2rem;
          padding: 0.4rem 0;
          position: relative;
          .schedule{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0.325rem;
            width: 0.35rem;
            height: 0.35rem;
            background-color: #EEE;
            border-radius: 50%;
            z-index: 1;
          }
          .express_content{
            width: 8.2rem;
            margin-left: 1rem;
            p{
              .font-dpr(14px);
              width: 8.2rem;
              line-height: 1.5em;
            }
            p:nth-child(2){
              line-height: 2em;
            }
          }
          &:nth-child(1){
            color: #AE2121;
          }
          &:after{
            content: "";
            position: absolute;
            width: 0.05rem;
            top: 55%;
            bottom: -45%;
            left: 0.48rem;
            background-color: #EEE;
          }
          &:last-child:after{
            bottom: 0;
            width: 0;
          }
          &:nth-child(1) span{
            z-index: 2;
            background-color: #AE2121;
          }
        }
      }
    }
    .no_express_info{
      .font-dpr(18px);
      color: #E8E8E8;
      line-height: 5rem;
      text-align: center;
    }
  }
  .baoguan{
    .font-dpr(13px);
    position: relative;
    >div{
      padding: .33rem .4rem;
      display: flex;
      justify-content: start;
      align-items: center;
      color: #979797;
      &:nth-of-type(1){
        color: #151515;
      }
    }
    .time{
      width: 2.5rem;
      .font-dpr(12px);
    }
    img{
      width: 1rem;
      height: 1rem;
      position: relative;
      z-index: 6;
      background: #ffffff;
    }
    .txt{
      padding-left: .5rem;
      width: 5rem;
    }
    .line{
      display: block;
      width: 1px;
      height: 78%;
      background: #979797;
      position: absolute;
      left: 3.4rem;
      top: .4rem;
      z-index: 0;
      margin: 0;
      padding: 0;
    }
  }
}
