/*通用头部*/
header{
    &.hs-header{
        background-color: #fff;
        width: 10rem;
        overflow: hidden;
        z-index: 100;
        position: absolute;
        margin: 0;
        padding: 0;
        top: 0;
        ul{
            background-color: #FFF;
            color: #000;
            padding-left: 0.64rem;
            padding-right: 0.54rem;
            position: relative;
            border-bottom: 0.013rem solid rgba(153,153,153,0.5);
            .hs-cf;
            li{
                float: left;
                position: relative;
                margin-right: 0.64rem;
                a{
                    .font-dpr(14px);
                    display: block;
                    color: #000;
                    height: 1.2rem;
                    line-height: 1.2rem;
                    font-weight: 500;
                    &.active{
                        color: #E03B29;
                    }
                    &.active:after{
                        content: "";
                        display: block;
                        height: 0.08rem;
                        width: 100%;
                        position: absolute;
                        bottom: 0.1rem;
                        background-color: #E03B29;
                    }
                }
            }
        .search_btn{
            position: absolute;
            right: 0.54rem;
            margin-right: 0;
            .hs-icon:before{
                .font-dpr(20px);
                content: "\e63d";
                color: #333333;
            }
        }
        }
    }
}
