/* 发货头部导航 */
.already_header {
  ul {
    border-bottom: 2px solid #ededed;
    .hs-cf();
    li {
      float: left;
      padding-top: 0.306667rem;
      padding-bottom: 0.4rem;
      width: 33.333333%;
      text-align: center;
      a {
        .font-dpr(16px);
        color: #111;
        padding-bottom: 0.4rem;
        position: relative;
        padding-left: 0.133333rem;
        padding-right: 0.133333rem;
      }
      &.active {
        a {
          color: #58D996;
          &:after{
            position: absolute;
            content: '';
            bottom: 0;
            height: 0.106667rem;
            background-color: #58D996;
            left: 0;
            width: 100%;
          }
        }
      }
    }
  }
}
