<div class="culture_list">
    <ul>
        <li>
            <a href="#">
                <div class="img">
                    <img src="http://placeholder.qiniudn.com/108x108" />
                </div>
                <div class="text">
                    <h2>对印度贫民窟的人来说，自制毒品是为了更好的工作与自娱自乐</h2>
                </div>
                <div class="info"><span><i>赞</i>102</span><span><i>赞</i>102</span><span><i>赞</i>102</span></div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="img">
                    <img src="http://placeholder.qiniudn.com/108x108" />
                </div>
                <div class="text">
                    <h2>对印度贫民窟的人来说，自制毒品是为了更好的工作与自娱自乐</h2>
                </div>
                <div class="info"><span><i>赞</i>102</span><span><i>赞</i>102</span><span><i>赞</i>102</span></div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="img">
                    <img src="http://placeholder.qiniudn.com/108x108" />
                </div>
                <div class="text">
                    <h2>对印度贫民窟的人来说，自制毒品是为了更好的工作与自娱自乐</h2>
                </div>
                <div class="info"><span><i>赞</i>102</span><span><i>赞</i>102</span><span><i>赞</i>102</span></div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="img">
                    <img src="http://placeholder.qiniudn.com/108x108" />
                </div>
                <div class="text">
                    <h2>对印度贫民窟的人来说，自制毒品是为了更好的工作与自娱自乐</h2>
                </div>
                <div class="info"><span><i>赞</i>102</span><span><i>赞</i>102</span><span><i>赞</i>102</span></div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="img">
                    <img src="http://placeholder.qiniudn.com/108x108" />
                </div>
                <div class="text">
                    <h2>对印度贫民窟的人来说，自制毒品是为了更好的工作与自娱自乐</h2>
                </div>
                <div class="info"><span><i>赞</i>102</span><span><i>赞</i>102</span><span><i>赞</i>102</span></div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="img">
                    <img src="http://placeholder.qiniudn.com/108x108" />
                </div>
                <div class="text">
                    <h2>对印度贫民窟的人来说，自制毒品是为了更好的工作与自娱自乐</h2>
                </div>
                <div class="info"><span><i>赞</i>102</span><span><i>赞</i>102</span><span><i>赞</i>102</span></div>
            </a>
        </li>
    </ul>
</div>
