// 文化列表
.culture_list {
    ul {
        /*padding: 0.32rem 0.32rem 0 0.32rem;*/
        padding: 0.16rem;
        li {
            position: relative;
            background-color: #fff;
            padding-bottom: 0.26rem;
            margin-bottom: 0.26rem;
            border-bottom: 1px solid rgba(211, 211, 211, .8);
            a {
                color: #282828;
                display: block;
                .font-dpr(15px);
                .hs-cf;
            }
            .img {
                width: 3.173333rem;
                height: 2.32rem;
                overflow: hidden;
                float: left;
                background-image: url(../img/index_loading.gif);
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .img img {
                min-width: 100%;
            }
            .text {
                width: 5.76rem;
                float: right;
                h2 {
                    display: -webkit-box;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                }
            }
            .info {
                position: absolute;
                right: 0;
                bottom: 0.266667rem;
                .font-line-height(14px);
                span {
                   .font-dpr(12px);
                   text-align: left;
                   margin-left: .28rem;
                   position: relative;
                   padding-left: .7rem;
                   display: block;
                   float: left;
                   text-align: right;
                   i {
                    font-style: normal;
                    .font-dpr(18px);
                    position: absolute;
                    left: 0;
                    &.views:before {
                        content: "\e60f";
                    }
                    &.comments:before {
                        content: "\e60e";
                    }
                    &.praises:before {
                        content: "\e60d";
                    }
                }
            }
        }
        &:last-child {
                // padding-bottom:0;
                margin-bottom: 0;
            }
        }
        .dropload-down {
            border: none;
        }
    }
}
