.fans_list {
  background-color: #f3f3f3 !important;
  .hs-main {
    top: 0;
    bottom: 0;

    .fans_list_bd {
      ul {
        padding: 0.24rem 0.32rem;
        li {
          border-bottom: .026667rem solid rgba(211,211,211,.5);
          margin-bottom: 0.4rem;
          padding-bottom: 0.4rem;
          position: relative;
          &:last-child {
            border: none;
            margin-bottom: 0;
          }
          &:after {
            .hs-icon;
            content: "\e605";
            position: absolute;
            right: 0;
            top: 0;
            .font-dpr(18px);
            line-height: 1.12rem;
            color: #6ac18e;
          }
          a {
            display: block;
            .hs-cf;
            .avatar {
              width: 1.12rem;
              height: 1.12rem;
              display: block;
              float: left;
            }
            .username {
              display: block;
              float: left;
              margin-left: 0.48rem;
              line-height: 1.12rem;
              .font-dpr(16px);
              color: #111;
            }
          }
        }
      }
    }
  }
}
